<div class = "signup-back">
<div class = "form-horizontal">
  <div class="sign-in-container">
    <div class = "sign-in-back">
      <div class="sign-in-container">
        <div class="card-signIn"></div>
        <div class="card-signIn">
          <h1 class="title">Address Information</h1>
          <%= form_for current_user, url: wizard_path do |f| %>
              <div class="input-container">
                <label for="user_address_1"><%= t :address %> 1:</label>
                <%= f.text_field :address_1, class: 'form-control',required:'true'%>
              </div>

              <div class="input-container">
                <label for="user_address_2"><%= t :address %> 2:</label>
                <%= f.text_field :address_2, class: 'form-control'%>
              </div>

              <div class="input-container">
                <label for="user_city"><%= t :city %>:</label>
                <%= f.text_field :city, class: 'form-control',required:'true'%>
              </div>

              <div class="input-container">
                <label for="user_province"><%= t :province %>:</label>
                <%= f.select :province, [ ['Alberta','AB'],['British Columbia','BC'],['Manitoba','MB'],['New Brunswich','NB'],
                                          ['Newfoundland and Labrador','NL'],['Nova Scotia','NS'],['Ontario','ON'],['Prince Edward Island','PE'],
                                          ['Quebec','QC'],['Saskatchewan','SK'],['Northwest Territories','NT'],
                                          ['Nunavut','NU'],['Yukon','YT']], {:prompt => 'Select One'} , {:required => true,:class => "form-control"}%>

                <br>
              </div>

              <div class="input-container">
                <label for="user_postal_code"><%= t :postalCode %>:</label>
                <%= f.text_field :postal_code, class: 'form-control',required:'true'%>
              </div>

              <div class="input-container">
                <label for="user_country"><%= t :country %>:</label>
                <%= f.text_field :country, class: 'form-control',value: 'Canada', readonly:'true'%>
              </div>
              <div class="input-container">
                <%= f.number_field :home_number, class: 'form-control'%>
                <label for="user_home_number"><%= t :homePhone %>:</label>
              </div>

              <div class="input-container">
                <label for="user_mobile_number"><%= t :mobilePhone %>:</label>
                <%= f.number_field :mobile_number, class: 'form-control',required:'true'%>
              </div>

              <div class = "button-container">
                <%= button_tag(type: 'submit', class: "login-btn") do %>
                    <span class="span"></span><%= t :complete %>
                <% end %>
              </div>
              <div class = "signup-control-links">
                 or <%= link_to "#{t :goBack}", previous_wizard_path%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

    })
</script>