<div class = "signup-back">
<div class = "form-horizontal">
  <div class="sign-in-container">
    <div class = "sign-in-back">
      <div class="sign-in-container">
        <div class="card-signIn"></div>
        <div class="card-signIn">
          <h1 class="title">Personal Info</h1>
          <%= form_for @user, url: wizard_path do |f| %>
              <div class="input-container">
                <label for="user_first_name"><%=t :firstName %>:</label>
                <%= f.text_field :first_name, class: 'form-control', required:'true'%>
              </div>
              <div class="input-container">
                <label for="user_last_name"><%=t :lastName %>:</label>
                <%= f.text_field :last_name, class: 'form-control',required:'true'%>
              </div>
              <% if @user.is_teen?%>
                <div class="input-container" id='age'>
                  <label for="user_age"><%=t :ageRange %></label>
                  <%= f.number_field :age , :min=>13, :max=>19, class: 'form-control',required:'true'%>
                </div>
                <div class="input-container" id="profile_pic">
                  <label for="user_profile_pic"><%=t :profilePic %>:</label>
                  <%= f.file_field :profile_pic, class: 'form-control',required:'true' %>
                </div>
              <%end%>
              <div class = "button-container">
                <%= button_tag(type: 'submit', class: "login-btn") do %>
                    <span class="span"></span><%=t :next %>
                <% end %>
              </div>


        <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">
  /*
    $(document).ready(function() {
        var pp = <%= @current_user.group %>;
        switch(pp){
            case 0 :
                $('#profile_pic').show()
                $('#age').show()
                break;
            case 1 :
                $('#age').hide()
                $('#profile_pic').hide()
                $('#age').val(null)
                break;
        }
    })
    */
</script>