<% if current_user.is_client? && current_user.stripe_id.blank?%>
    <div class="sign-in-container contact-us">
      <div class = "alert alert-danger" style ="text-align:center;margin-bottom:20px;"> <%=t :addCCFirst%></div>
      <div class="button-container create-service">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <%= link_to I18n.t(:go2Account), user_path(current_user.id), :class => 'btn btn-success' %>
        </div>
      </div>
    </div>
<%else%>
    <% if @service.errors.any? %>
        <% @service.errors.full_messages.each do |message| %>
            <div class = "alert alert-danger"><%=message %></div>
        <% end %>
    <% end %>
  <div class = "form-horizontal">
    <div class="sign-in-container">
      <div class="card-signIn"></div>
        <div class="card-signIn newService">
          <h1 class="title"><%=t :newService%></h1>

        <%= form_for :service, :url => services_path(current_user.id) do |f| %>
          <%= f.hidden_field :user_id , :value=>current_user.id %>
          <%= f.hidden_field :status, :id => "service_status_field_hidden", :value=>Service::UNLISTED %>
          <%= f.hidden_field :day, :id => "service_day_field_hidden"%>
          <%= f.hidden_field :start_time, :id => "service_start_time_field_hidden"%>
          <%= f.hidden_field :end_time, :id => "service_end_time_field_hidden"%>
          <%= f.hidden_field :date, :id => "service_date_time_field_hidden"%>

          <div class="input-container">
            <%= f.label :main_title, I18n.t(:serviceTitle), class: 'control-label'%>
            <%= f.text_field :main_title, placeholder: I18n.t(:catchyTitle), class: 'form-control'%>
          </div>

          <div class="input-container">
            <%= f.label :title, I18n.t(:serviceType), class: 'control-label'%>
            <%= f.select :title, Service::SERVICE_TYPES, {}, :id => "main_category_id", class: 'form-control'%>
          </div>

          <div id = "other-div" class="input-container" style = "display:none;">
            <%= f.label :other_title, I18n.t(:otherServType), class: 'control-label'%>
            <div id = "other-task-id">
              <%= f.text_field :other_title, placeholder: I18n.t(:oneWord), class: "form-control"%>
            </div>
          </div>

            <%=f.hidden_field :skill ,:value=>'1' %>

          <div class="input-container">
            <%= f.label :description, I18n.t(:serviceDesc), class: 'control-label'%>
            <%= f.text_area :description, placeholder: I18n.t(:serviceDesc) , class: 'form-control service_text_area' %>
          </div>

          <div class="input-container">
            <%= f.label :charge_per_hour, I18n.t(:chargePerHour), class: 'control-label chargePerHour'%>
            <%= f.text_field :charge_per_hour, placeholder: I18n.t(:chargeCAD), class: "form-control" %>
          </div>

          <!-- Setting the min and max age -->
          <!-- TODO: Figure out solution to extra padding-left and padding-right problem -->
          <div class="input-container">
            <%= f.label :min_age, I18n.t(:minimumAge), class: 'control-label'%>
            <%= f.number_field :min_age, placeholder: "e.g. 13", class: "form-control"%>
          </div>

          <div class="input-container">
            <%= f.label :max_age, I18n.t(:maximumAge), class: 'control-label'%>
            <%= f.number_field :max_age, placeholder: "e.g. 19", class: "form-control"%>
          </div>

          <div class = "input-container location">
            <label> <%=t :serviceLocation%></label>
            <%=t :sameAddr%><input type="radio" class="ServiceAddress" name="address" value="same" id="sameradio">&nbsp
            <%=t :different%> <input type="radio" class="ServiceAddress" name="address" value="different" id="differentradio">
          </div>

          <div id="address" hidden>
            <div class="input-container">
              <%= f.label :address_1, I18n.t(:address1), class: 'control-label'%>
              <%= f.text_field :address_1, class: "form-control"%>
            </div>
            <div class="input-container">
              <%= f.label :address_2, I18n.t(:address2), class: 'control-label'%>
              <%= f.text_field :address_2, class: "form-control"%>
            </div>
            <div class="input-container">
              <%= f.label :city, I18n.t(:city), class: 'control-label'%>
              <%= f.text_field :city, class: "form-control"%>
            </div>
            <div class="input-container">
              <%= f.label :province, I18n.t(:province), class: 'control-label'%>
              <% if I18n.locale == :en %>
                  <%= f.select :province, [ ['Alberta','AB'],['British Columbia','BC'],['Manitoba','MB'],['New Brunswich','NB'],
                                            ['Newfoundland and Labrador','NL'],['Nova Scotia','NS'],['Ontario','ON'],['Prince Edward Island','PE'],
                                            ['Quebec','QC'],['Saskatchewan','SK'],['Northwest Territories','NT'],
                                            ['Nunavut','NU'],['Yukon','YT']], {:prompt => I18n.t(:selectOne)} , {:class => "form-control"}%>
              <%else%>
                  <%= f.select :province, [ ['Alberta','AB'],['Colombie-Britannique','BC'],['Manitoba','MB'],['Nouveau-Brunswick','NB'],
                                            ['Terre-Neuve-et-Labrador','NL'],['Nouvelle-Écosse','NS'],['L\'Ontario','ON'],['Île-du-Prince-Édouard','PE'],
                                            ['Québec','QC'],['Saskatchewan','SK'],['Territoires du Nord-Ouest','NT'],
                                            ['Nunavut','NU'],['Yukon','YT']], {:prompt => I18n.t(:selectOne)} , {:class => "form-control"}%>
              <%end%>
            </div>
            <div class="input-container">
              <%= f.label :postal_code, t('postalCode'), class: 'control-label'%>
              <%= f.text_field :postal_code, class: "form-control"%>
            </div>
            <div class="input-container">
              <%= f.label :country, t('country'), class: 'control-label'%>
              <%= f.text_field :country, class: "form-control"%>
            </div>
          </div>
          <!-- Set the service start date -->
          <!-- TODO: Add date format validation -->
          <div class="input-container">
            <%= f.label :charge_per_hour, t('dateTime'), class: 'control-label'%>
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' id="service_date_time_field" class="form-control date-custom" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <script type="text/javascript">
                $(function () {
                    firstDate = $("#service_date_time_field_hidden").val()
                    $('#datetimepicker1').datetimepicker({
                        defaultDate: firstDate,
                        minDate: new Date()});
                });
            </script>
          </div>

          <div class="input-container">
            <%= f.label :duration, t('durationService'), class: 'control-label'%>
            <%= f.number_field :duration, step: :any, placeholder: "e.g. 1.5" , class: 'form-control' %>
          </div>

          <!-- Frequency Toggle and Input Field-->
          <div class="input-container" style="padding-top:8px">
            <input class = "checkbox-inline" id = "service_freq_toggle" onclick="frequencyToggle()" type="checkbox"/>
            <%= f.label t('recurringService'), class: 'control-label'%>
          </div>

          <div class="input-container" id = "service_freq_input_div" style = "display:none;" >
            <%= f.label :frequency, t('freq'), class: 'control-label reoccur'%>
            <%= f.number_field :frequency, :id => "service_freq_input_field", :value => 0, class: "form-control"%>
          </div>

          <div class="button-container create-service">
              <div class="col-sm-8 col-sm-offset-2 text-center">
                <%= f.submit t('create'), :id => "submit_create_button", class: "btn btn-default btn-primary"%>
                <%= f.submit t('createList'), :id => "submit_create_list_button", class: "btn btn-default btn-success"%>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var main_category_selection = document.getElementById("main_category_id")
    var other_category_selection = document.getElementById("other_category_id")
    var submit = document.getElementById("submit_create_button")
    var submitAndList = document.getElementById("submit_create_list_button")
    var frequencyInputDiv= document.getElementById("service_freq_input_div");
    var frequencyInputField = document.getElementById("service_freq_input_field");

    $(".ServiceAddress").change(function(){
        switch($(this).val()) {
            case 'same' :
                $('#address').hide()
                break;
            case 'different' :
                $('#address').show()
                break;
        }
    })

    /* Logic for frequency toggle */
    frequencyToggle = () => {
      frequencyInputDiv.style.display = (frequencyInputDiv.style.display === "none") ? "block" : "none"
    }

    main_category_selection.onchange = () => {
      var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

      var hiddenTaskField = document.getElementById("other-div")
      hiddenTaskField.style.display = (selectedOption == "Other") ? "block" : "none"

        switch($("#main_category_id").val()){
            case 'Babysitting' :
                $('#service_skill').val(1)
                break;
            case 'Yard work' :
                $('#service_skill').val(2)
                break;
            case 'Snow shoveling' :
                $('#service_skill').val(3)
                break;
            case 'Furniture moving' :
                $('#service_skill').val(4)
                break;
            case 'Simple cleaning tasks' :
                $('#service_skill').val(5)
                break;
            case 'Vacation services' :
                $('#service_skill').val(6)
                break;
            case 'Dog walking' :
                $('#service_skill').val(7)
                break;
            case 'Computer help' :
                $('#service_skill').val(8)
                break;
            case 'Tutoring' :
                $('#service_skill').val(9)
                break;
            case 'Reading' :
                $('#service_skill').val(10)
                break;
            case 'Other' :
                $('#service_skill').val(0)
                break;
        }

      }

      submit.onclick = () =>
    {
        submitHelperFunction()
    }

    submitAndList.onclick = () =>
    {
        $("#service_status_field_hidden").val("<%= Service::LISTED %>")
        submitHelperFunction()
    }

    submitHelperFunction = () => {

        // Update the date time field value of the form
        userSetDateTime = $('#datetimepicker1').data("DateTimePicker").date()
        $("#service_date_time_field_hidden").val(userSetDateTime);

        var time = userSetDateTime.hours()+":"+userSetDateTime.minutes()

        $("#service_start_time_field_hidden").val(time);

        var duration = $('#service_duration').val();

        var end_time = userSetDateTime.add(duration,'h').hours() + ":" + userSetDateTime.add(duration,'h').minutes();

        $("#service_end_time_field_hidden").val(end_time);

        switch(userSetDateTime.day()){
            case 0 :
                $("#service_day_field_hidden").val("Sunday");
                break;
            case 1 :
                $("#service_day_field_hidden").val("Monday");
                break;
            case 2 :
                $("#service_day_field_hidden").val("Tuesday");
                break;
            case 3 :
                $("#service_day_field_hidden").val("Wednesday");
                break;
            case 4 :
                $("#service_day_field_hidden").val("Thursday");
                break;
            case 5 :
                $("#service_day_field_hidden").val("Friday");
                break;
            case 6 :
                $("#service_day_field_hidden").val("Saturday");
                break;
        }



        // If the frequency toggle is unselected, send back 0 as its value
        if (frequencyInputDiv.style.display === "none") {
            frequencyInputField.value = 0
        }

        var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

        if (selectedOption == "Other") {
            main_category_selection.options[main_category_selection.selectedIndex].value = other_category_selection.value;
        }
    }

  </script>

<% end %>