<div class="container" style="margin-top: 2%; background-color: white; border-radius: 15px; padding-top: 5em; padding-left:5%; padding-right: 5%">

  <div class="row">
    <div class="col-lg-8 well">
      <h1>
        <%= t :serviceDetails%>
        <%= image_tag("#{@service.get_image_id}"+"service.svg", width: "64", height:"64", class: "show-service-image") %>
      </h1>

      <h3><%= @service.main_title %></h3>
      <hr>
      <div style='width: 300px; float: right;'>
        <div id="map" style='width: 300px; height: 300px;'></div>
      </div>
      <p><b><%=t :postedBy%>:</b> <a href="/users/<%=@service.user.id%>"><%= @service.user.first_name.capitalize + ' ' + @service.user.last_name.capitalize %></a></p>
      <p><b>Description:</b> <%=@service.description%></p>
      <p><b><%=t :skillReq%>:</b> <%=@service.title%></p>
      <% if @service.has_other_title? %>
          <p><i><%=t :skillType%>:</i> <%=@service.other_title%></p>
      <%end%>
      <p><b><%=t :chargePerHour%>:</b> $<%= @service.charge_per_hour %>/hour</p>
      <p><b>Date:</b> <%=@service.date.to_date%></p>
      <p><b><%=t :duration%>:</b> <%=@service.duration%> hours</p>
      <p><b><%=t :startTime%>:</b> <%=@service.start_time.strftime('%H:%M')%></p>
      <hr>
      <p><b><%=t :location%>:</b> <%=@service.city.upcase%>, <%=@service.province%></p>
      <br>
      <br>

      <% if @service.status == Service::UNLISTED && @service.user_id == current_user.id%>
          <div class="services-bottom-action-buttons-container">
            <%= button_to t('list'), list_service_path, method: :post, :class => 'btn btn-success' %>
          </div>
      <% elsif @service.status == Service::LISTED %>
          <!-- If the creator is viewing the service, show list of people that requested  -->
          <% if @service.user_id == current_user.id %>
              <p><b><%=t :listOfUsers%> </b></p>
              <table style="width:50%;text-align:center;">
                <% if @service.service_users.size == 0%>
                    <tr>
                      <td>
                        <p> <%=t :noRequests%></p>
                      </td>
                    </tr>
                <% else %>
                    <% @service.service_users.each do |relation| %>
                        <% @requestingUser = User.find(relation.user_id)%>
                        <tr>
                          <td>
                            <div><%= @requestingUser.first_name %> <%= @requestingUser.last_name %></div>
                            <div><%= @requestingUser.age %> years old</div>
                          </td>
                          <td><%= button_to t('view'), user_path(@requestingUser),
                                            :class => 'btn btn-default', method: :get %></td>
                          <td>
                            <%= link_to t('selectUser'), select_request_service_path({:service => @service, :userId => @requestingUser.id}), method: :post, data: {title: t('selectUser2') , confirm: t('selectConfirm')}, :class => 'btn btn-success' %>
                          </td>
                        </tr>
                        <tr style=";border-bottom: 1px solid #eeeeee;">
                          <td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                    <% end %>
                <% end %>
              </table>
              <div class="services-bottom-action-buttons-container">
                <%= link_to I18n.t(:edit), edit_service_path(@service),
                            data: {title: t('edit') ,
                                   confirm: t('editWarn')},
                            :class => 'btn btn-primary' %>
                <%= button_to t('unlistService'), unlist_service_path, method: :post,
                              data: {title: t('unlist') , confirm: t('unlistWarn')}, :class => 'btn btn-danger' %>
              </div>
              <!-- Only render the request button if user is not of same group -->
          <% elsif @user.is_teen?%>
              <% if @service.service_users.exists?(:user_id => current_user.id) %>
                  <%= button_to 'Remove Request', remove_request_service_path, method: :post, :class => 'btn btn-danger' %>
              <% else %>
                  <%= button_to 'Request Service', add_request_service_path, method: :post, :class => 'btn btn-success'%>
              <% end %>
          <% end %>
      <% elsif @service.status == Service::ACCEPTED %>
          <% @acceptedUser = User.find(@service.service_users.first.user_id) %>
          <% if @service.user_id == current_user.id %>
              <p> Congratulations! You have succesfully connected with <%= @acceptedUser.email %><p>
              <div class="services-bottom-action-buttons-container">
                <%= link_to I18n.t(:edit), edit_service_path(@service),
                            data: {title: 'Edit Service' ,
                                   confirm: 'Are you sure you want to edit this service? Performing this action will unlist the service and delete all current requests.'},
                            :class => 'btn btn-primary' %>
                <%= button_to 'Unlist Service', unlist_service_path, method: :post,
                              data: {title: 'Unlist Service' , confirm: 'Are you sure you want to unlist this service? Performing this action will delete all current requests.'}, :class => 'btn btn-danger' %>
              </div>
          <% elsif @acceptedUser.id == current_user.id %>
              <p> Congratulations! You have succesfully connected with <%= @service.user.email %><p>
              <div class="services-bottom-action-buttons-container">
                <%= link_to 'Submit Transaction', new_user_transaction_path(@user.id), :class => 'btn btn-success' %>
              </div>
          <% end %>
      <% elsif @service.status == Service::PENDING %>
          <% @acceptedUser = User.find(@service.service_users.first.user_id) %>
          <% if @service.user_id == current_user.id %>
              <p>  <%= @acceptedUser.email %> has submitted a timesheet for your review.<p>
          <% elsif @acceptedUser.id == current_user.id %>
              <p> You have submitted this service for review. <p>
          <% end %>
      <% end %>
    </div>
    <%if @user.is_client? && @service.user.id==@user.id%>
        <div class="col-lg-4" style="padding-left: 5%">
          <h2><%=t :availTeen%></h2>
          <br>
          <% if @teens.blank?%>
            <%=t :noAvailTeen%>
          <%end%>
          <% @teens.each do |t|%>
              <p><%=t.first_name%> <%=t.last_name%></p>
              <p>Age: <%=t.age%></p>
              <td><%= button_to 'View Teenager', user_path(t.id), :class => 'btn btn-default', method: :get %></td>
              <hr>
          <%end%>
        </div>
    <%end%>
  </div>


</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
            {
                "lat": <%= @service.latitude ? @service.latitude : 0 %>,
                "lng": <%= @service.longitude ? @service.longitude : 0 %>,
            }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);

    });
</script>

