<div class="container">

  <div class="row">
    <div class="col-lg-8">
      <h1>Service Details</h1>

      <h3><%= @service.main_title %></h3>
      <hr>
      <p><b>Posted By:</b> <a href="/users/<%=@service.user.id%>"><%= @service.user.first_name.capitalize + ' ' + @service.user.last_name.capitalize %></a></p>
      <p><b>Description:</b> <%=@service.description%></p>
      <p><b>Service skill required:</b> <%=@service.title%></p>
      <% if @service.has_other_title? %>
          <p><i>Skill type:</i> <%=@service.other_title%></p>
      <%end%>
      <p><b>Cost:</b> $<%= @service.charge_per_hour %>/hour</p>
      <hr>
      <p><b>Location:</b> <%=@service.city.upcase%>, <%=@service.province%></p>
      <br>

      <% if @service.status == Service::UNLISTED && @service.user_id == current_user.id%>
          <div class="bottom_action_buttons_container">
            <%= button_to 'List Service', list_service_path, method: :post, :class => 'btn btn-success' %>
          </div>
      <% elsif @service.status == Service::LISTED %>
          <!-- If the creator is viewing the service, show list of people that requested  -->
          <% if @service.user_id == current_user.id %>
              <p style="color:red"> List of users requesting this service </p>
              <table style="width:50%;text-align:center;background-color:#dfdfdf">
                <% if @service.service_users.size == 0%>
                    <tr>
                      <td>
                        <p> There are currently no submitted requests for this service </p>
                      </td>
                    </tr>
                <% else %>
                    <% @service.service_users.each do |relation| %>
                        <% @requestingUser = User.find(relation.user_id)%>
                        <tr>
                          <td>
                            <p>Name: <%= @requestingUser.first_name %><%= @requestingUser.last_name %></p>
                            <p>Email: <%= @requestingUser.email %></p>
                            <p>Age: <%= @requestingUser.age %></p>
                          </td>
                          <td><%= button_to 'View User Info', user_path(@requestingUser),
                                            :class => 'btn btn-default', method: :get %></td>
                          <td>
                            <%= link_to "Select User", select_request_service_path({:service => @service, :userId => @requestingUser.id}), method: :post, data: {title: 'Select User to Perform Service' , confirm: 'Are you sure you want to select this user?'}, :class => 'btn btn-success' %>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
              </table>
              <div class="bottom-action-buttons-container">
                <%= button_to 'Unlist Service', unlist_service_path, method: :post,
                              data: {title: 'Unlist Service' , confirm: 'Are you sure you want to unlist this service? Performing this action will delete all current requests.'}, :class => 'btn btn-danger' %>
              </div>
              <!-- Only render the request button if user is not of same group -->
          <% elsif @service.user.group != current_user.group %>
              <% if @service.service_users.exists?(:user_id => current_user.id) %>
                  <%= button_to 'Remove Request', remove_request_service_path, method: :post, :class => 'btn btn-danger' %>
              <% else %>
                  <%= button_to 'Request Service', add_request_service_path, method: :post, :class => 'btn btn-success'%>
              <% end %>
          <% end %>
      <% elsif @service.status == Service::ACCEPTED %>
          <% @acceptedUser = User.find(@service.service_users.first.user_id) %>
          <% if @service.user_id == current_user.id %>
              <p> Congratulations! You have succesfully connected with <%= @acceptedUser.email %><p>
              <div class="bottom_action_buttons_container">
                <%= button_to 'Unlist Service', unlist_service_path, method: :post,
                              data: {title: 'Unlist Service' , confirm: 'Are you sure you want to unlist this service? Performing this action will delete all current requests.'}, :class => 'btn btn-danger' %>
              </div>
          <% elsif @acceptedUser.id == current_user.id %>
              <p> Congratulations! You have succesfully connected with <%= @service.user.email %><p>
              <div class="bottom_action_buttons_container">
                <%= button_to 'Submit Timesheet', submit_timesheet_service_path, :class => 'btn btn-success' %>
              </div>
          <% end %>
      <% elsif @service.status == Service::PENDING %>
          <% @acceptedUser = User.find(@service.service_users.first.user_id) %>
          <% if @service.user_id == current_user.id %>
              <p>  <%= @acceptedUser.email %> has submitted a timesheet for your review.<p>
          <% elsif @acceptedUser.id == current_user.id %>
              <p> Your submitted timesheet is currently under review.<p>
          <% end %>
      <% end %>
    </div>
    <%if @user.is_client?%>
        <div class="col-lg-4">
          <h2>Available teenagers</h2>
          <br>
          <% @teens.each do |t|%>
              <p><%=t.first_name%> <%=t.last_name%></p>
              <p>Age: <%=t.age%></p>
              <td><%= button_to 'View Teenager', user_path(t.id), :class => 'btn btn-default', method: :get %></td>
              <hr>
          <%end%>
        </div>
    <%end%>
  </div>


</div>

