<h2>Edit <%= resource_name.to_s.humanize %></h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name, 'First Name'%>
    <%= f.text_field :first_name%> 
  </div>

  <div class="field">
    <%= f.label :last_name, 'Last Name'%>
    <%= f.text_field :last_name%> 
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :address_1, 'Address line 1' %>
    <%= f.text_field :address_1 %>
  </div>

  <div class="field">
    <%= f.label :address_2, 'Address line 2' %>
    <%= f.text_field :address_2 %>
  </div>

  <div class="field">
    <%= f.label :city, 'City' %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :province, 'Province' %>
    <!--<%= f.text_field :province %>-->
    <%= f.select :province, [ ['Alberta','AB'],['British Columbia','BC'],['Manitoba','MB'],['New Brunswich','NB'],
                              ['Newfoundland and Labrador','NL'],['Nova Scotia','NS'],['Ontario','ON'],['Prince Edward Island','PE'],
                              ['Quebec','QC'],['Saskatchewan','SK'],['Northwest Territories','NT'],
                              ['Nunavut','NU'],['Yukon','YT']], :prompt => 'Select One' %>
  </div>

  <div class="field">
    <%= f.label :postal_code, 'Postal Code' %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :country, 'Country' %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :home_number, 'Home Number' %>
    <%= f.text_field :home_number %>
  </div>

  <div class="field">
    <%= f.label :mobile_number, 'Mobile Number' %>
    <%= f.text_field :mobile_number %>
  </div>

  <% if @user.group==0 %>
    <div class="field">
      <%= f.label :age, 'Age' %>
      <%= f.text_field :age %>
    </div>
  <%end%>

  <div class="field">
    <%= f.label :profile_pic, 'Profile Picture' %>
    <%= f.text_field :profile_pic %>
  </div>

  <%= f.hidden_field :group %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
