<div class="container">
  <div class="row main-center">
    <div class="main-login main-center">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , class: 'form-horizontal' }) do |f| %>
          <%= devise_error_messages! %>
          <div class="card picBar">
            <div class="profilePic">
              <% if @user.profile_pic_file_name != nil %>
                  <%= image_tag @user.profile_pic.url %>
              <% else %>
                  <img alt="" src="http://gazettereview.com/wp-content/uploads/2016/03/facebook-avatar.jpg">
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :profile_pic, 'Profile Picture', class: 'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.file_field :profile_pic%>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :first_name, 'First Name' , class: 'control-label col-sm-2'%>
            <div class="col-sm-10">
              <%= f.text_field :first_name , class: 'form-control'%>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :last_name, 'Last Name', class: 'control-label col-sm-2'%>
            <div class="col-sm-10">
              <%= f.text_field :last_name, class: 'form-control'%>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email, class: 'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.email_field :email, autofocus: true , class: 'form-control'%>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="passradio" > Change password</label>
            <label class="radio-inline"><input class='passradio' type="radio" name="passradio" value="Yes"> Yes </label>
            <label class="radio-inline"><input class='passradio' type="radio" name="passradio" value="No"> No </label>

          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div id="pass_div" class="form-group" hidden>
            <%= f.label :password, class: 'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              <% if @minimum_password_length %>
                  <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
          </div>

          <div id="pass_c_div" class="form-group" hidden>
            <%= f.label :password_confirmation ,class: 'control-label col-sm-2'%>
            <div class="col-sm-10">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :address_1, 'Street Address',class: 'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.text_field :address_1, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :address_2, 'Apt/Unit/Suite',class: 'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.text_field :address_2, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :city, 'City',class: 'control-label col-sm-2'  %>
            <div class="col-sm-10">
              <%= f.text_field :city, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :province, 'Province', class:'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.select :province, [ ['Alberta','AB'],['British Columbia','BC'],['Manitoba','MB'],['New Brunswich','NB'],
                                        ['Newfoundland and Labrador','NL'],['Nova Scotia','NS'],['Ontario','ON'],['Prince Edward Island','PE'],
                                        ['Quebec','QC'],['Saskatchewan','SK'],['Northwest Territories','NT'],
                                        ['Nunavut','NU'],['Yukon','YT']], {:prompt => 'Select One'}, {:class => "form-control"} %>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :postal_code, 'Postal Code', class:'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.text_field :postal_code, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :country, 'Country', class:'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.text_field :country, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :home_number, 'Home Number', class:'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.text_field :home_number , class: 'form-control'%>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :mobile_number, 'Mobile Number' , class:'control-label col-sm-2'%>
            <div class="col-sm-10">
              <%= f.text_field :mobile_number, class: 'form-control' %>
            </div>
          </div>

          <% if @user.group==0 %>
              <div class="form-group">
                <%= f.label :age, 'Age', class:'control-label col-sm-2' %>
                <div class="col-sm-10">
                  <%= f.text_field :age, class: 'form-control' %>
                </div>
              </div>
          <%end%>

          <%= f.hidden_field :group %>

          <div class="form-group">
            <%= f.label :current_password, class:'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
              <i>(We need your current password to confirm your changes)</i>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <%= f.submit "Update",class:'btn btn-success' %> <%= link_to "Back", :back , class: 'btn btn-default'%>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>




<script type="text/javascript">

    $(".passradio").change(function(){
        switch($(this).val()) {
            case 'Yes' :
                $('#pass_div').show()
                $('#pass_c_div').show()
                break;
            case 'No' :
                $('#pass_div').hide()
                $('#pass_c_div').hide()
                break;
        }
    })
</script>
