<div class = "form-horizontal">
  
  <div class = "form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <h2>Sign up</h2>
    </div>
  </div>
  
  <div class = "form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <label> I am signing up as ...</label>
      <input type="radio" class="GroupSelector" name="group" value="teen"> Teenager
      <input type="radio" class="GroupSelector" name="group" value="client"> Client
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, 'Email:', :class => "control-label col-sm-4" %>
      <div class="col-sm-5">
        <%= f.email_field :email, autofocus: true , class: 'form-control'%>
      </div>    
    </div>

    <div class="form-group">
      <%= f.label :password, :class => "control-label col-sm-4" %>
      <div class="col-sm-5">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum):</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" , class: 'form-control'%>
      </div>    
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, :class => "control-label col-sm-4" %>
      <div class="col-sm-5">
        <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control'%>
      </div>    
    </div>

    <div class = "form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <div class="actions">
          <%= f.submit "Next", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

  <% end %>

  <div class = "form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>

<script type="text/javascript">

    $(".GroupSelector").change(function(){
        switch($(this).val()) {
            case 'teen' :
                $('#age').show()
                $('#profile_pic').show()
                $('#user_group').val(0)
                break;
            case 'client' :
                $('#age').hide()
                $('#profile_pic').hide()
                $('#age').val(null)
                $('#user_group').val(1)
                break;
        }
    })
</script>