<div style="width: 80%; margin:0 auto;">
	<h1><%= t :messages %></h1>
	<br>
	<div style="border: 1px solid #ede8e8">
		<div class="panel panel-container">
			<div class="panel-body" data-behavior='messages' id = "<%= @conversation.id %>" >
				<ul class="chat" data-behavior='messages-user' id = "<%= @current_user.id %>">
					<% @messages.each do |m| %>
						<% sender = m.user %>
						<li class="<%= m.user.id == current_user.id ? "right" : "left"; %> clearfix">
							<span class="chat-img <%= m.user.id == current_user.id ? "pull-right" : "pull-left"; %>">
                <img src="<%= sender.profile_pic.url %>" alt="User Avatar" class="img-circle" style="max-height: 50px; max-width: 50px" />
              </span>
							<div class="chat-body clearfix">
								<div class="header">
									<% if m.user.id == current_user.id %><small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= m.message_time %></small><% end %>
									<strong class="<%= m.user.id == current_user.id ? "pull-right " : ""; %>primary-font"><%= sender.first_name + ' ' + sender.last_name %></strong> <% if m.user.id != current_user.id %><small class="pull-right text-muted">
									<span class="glyphicon glyphicon-time"></span><%= m.message_time %></small><% end %>
								</div>
								<p class="break-long-words <%= m.user.id == current_user.id ? 'pull-right ' : ''%>"><%= m.body %></p>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="panel-footer" style="background-color: white">
				<form class="new_message" id="new_message" action="/messages" accept-charset="UTF-8" method="post">
					<div class="input-group">

						<input name="utf8" type="hidden" value="✓">
						<%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>

						<input value="<%= current_user.id %>" type="hidden" name="message[sender_id]" id="message_sender_id">
						<input value="<%= current_user.id %>" type="hidden" name="message[user_id]" id="message_user_id">
						<input value="<%= @messages.first.conversation.sender_id == current_user.id ? @messages.first.conversation.recipient_id : @messages.first.conversation.sender_id%>" type="hidden" name="message[recipient_id]" id="message_recipient_id">

						<textarea name="message[body]" id="message_user_id" class="form-control input-sm" placeholder="Type your message here..." ></textarea>
						<span class="input-group-btn">
              <button type="submit" class="btn btn-warning btn-sm" id="btn-chat" style="height: 48px;">
                  Send</button>
            </span>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
