<div class = "signup-back">
<div class = "form-horizontal">
  <%= devise_error_messages! %>
  <div class="sign-in-container">
    <div class = "sign-in-back">
      <div class="sign-in-container">
        <div class="card-signIn"></div>
        <div class="card-signIn">
          <h1 class="title"><%= t :signUp %></h1>
          <div class = "radio-container">
            <label class = "radio-label"><%= t :signUpAs %></label>
            <input type="radio" class="GroupSelector" id = "teen" name="group" value="teen" checked="checked">
            <label for = "teen" class = "radio-label"><%= t :teenager %></label>
            <input type="radio" class="GroupSelector" name = "group" id = "client" value="client">
            <label for = "client" class = "radio-label">Client</label>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <div class="input-container">
                <%= f.email_field :email, autofocus: true, class: 'form-control'%>
                <label for="Username">Email:</label>
            </div>

            <div class="input-container">
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum):</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                <label for="Password"><%= t :password %>:</label>
            </div>

            <div class="input-container">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'%>
              <label for="Password"><%= t :confirmPassword %>:</label>
            </div>

            <%= f.hidden_field :group , class: 'form-control'%>

              <div class = "button-container">
              <%= button_tag(type: 'submit', class: "login-btn") do %>
                  <span class="span"></span><%= t :next %>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        switch($(".GroupSelector").val()){
            case 'teen' :
                $('#user_group').val(0)
                break;
            case 'client' :
                $('#user_group').val(1)
                break;
        }
    })
    $(".GroupSelector").change(function(){
        switch($(this).val()) {
            case 'teen' :
                $('#user_group').val(0)
                break;
            case 'client' :
                $('#user_group').val(1)
                break;
        }
    })
</script>