<div class = "signup-back">
<div class = "form-horizontal">
  <div class="sign-in-container">
    <div class = "sign-in-back">
      <div class="sign-in-container">
        <div class="card-signIn"></div>
        <div class="card-signIn">
          <h1 class="title">Address Information</h1>
          <%= form_for current_user, url: wizard_path do |f| %>
              <div class="input-container">
                <label for="user_address_1">Address 1:</label>
                <%= f.text_field :address_1%>
                <div class="bar"></div>
              </div>

              <div class="input-container">
                <label for="user_address_2">Address 2:</label>
                <%= f.text_field :address_2%>
                <div class="bar"></div>
              </div>

              <div class="input-container">
                <label for="user_city">City:</label>
                <%= f.text_field :city%>
                <div class="bar"></div>
              </div>

              <div class="input-container">
                <label for="user_province">Province:</label>
                <%= f.select :province, [ ['Alberta','AB'],['British Columbia','BC'],['Manitoba','MB'],['New Brunswich','NB'],
                                          ['Newfoundland and Labrador','NL'],['Nova Scotia','NS'],['Ontario','ON'],['Prince Edward Island','PE'],
                                          ['Quebec','QC'],['Saskatchewan','SK'],['Northwest Territories','NT'],
                                          ['Nunavut','NU'],['Yukon','YT']], {:prompt => 'Select One'} , {:class => "form-control"}%>

                <br>
              </div>

              <div class="input-container">
                <label for="user_postal_code">Postal Code:</label>
                <%= f.text_field :postal_code%>
                <div class="bar"></div>
              </div>

              <div class="input-container">
                <label for="user_country">Country:</label>
                <%= f.text_field :country%>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                <%= f.phone_field :home_number%>
                <label for="user_home_number">Home Phone:</label>
                <div class="bar"></div>
              </div>

              <div class="input-container">
                <label for="user_mobile_number">Mobile Phone:</label>
                <%= f.phone_field :mobile_number%>
                <div class="bar"></div>
              </div>

              <div class = "button-container">
                <%= button_tag(type: 'submit', class: "login-btn") do %>
                    <span class="span"></span>COMPLETE
                <% end %>
              </div>
              <div class = "signup-control-links">
                 or <%= link_to "go back", previous_wizard_path%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

    })
</script>