<div class = "signup-back">
<div class = "form-horizontal">
  <div class="sign-in-container">
    <div class = "sign-in-back">
      <div class="sign-in-container">
        <div class="card-signIn"></div>
        <div class="card-signIn">
          <h1 class="title">Personal Info</h1>
          <%= form_for @user, url: wizard_path do |f| %>
              <div class="input-container">
                <%= f.text_field :first_name%>
                <label for="Username">First Name:</label>
                <div class="bar"></div>
              </div>

              <div class="input-container">
                <%= f.text_field :last_name%>
                <label for="Username">Last Name:</label>
                <div class="bar"></div>
              </div>
              <div class="input-container" id="profile_pic">
                <%= f.file_field :profile_pic , class: 'form-control'%>
                <label for="ProfilePic">Profile Picture:</label>
              </div>

              <div class = "button-container">
                <%= button_tag(type: 'submit', class: "login-btn") do %>
                    <span class="span"></span>NEXT
                <% end %>
              </div>
              <div class = "signup-control-links">
              or <%= link_to "skip this step", next_wizard_path %>
              </div>


        <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">

    $(".GroupSelector").change(function(){
        switch($(this).val()) {
            case 'teen' :
                $('#age').show()
                $('#profile_pic').show()
                $('#user_group').val(0)
                break;
            case 'client' :
                $('#age').hide()
                $('#profile_pic').hide()
                $('#age').val(null)
                $('#user_group').val(1)
                break;
        }
    })
</script>