<div class="mid-col-2"></div>
<h1 style="padding-left: 30px">Search Results</h1>
<% @services.each do |s| %>
      <div class="card-container">
        <div class="card transaction-card sjobs">
          <div class="card-body">
            <%= image_tag("#{s.get_image_id}"+"service.svg", width: "32", height:"32", class:"service-image" ) %>
            <h4 class="card-title"><%=s.main_title%></h4><br>
            <p class="card-title">Posted By: <a href="/users/<%=s.user.id%>"><%= s.user.first_name.capitalize %> <%=s.user.last_name.capitalize%></a></p>
            <p class="card-text">Charge: $<%=s.charge_per_hour%> <%=t :perHour%></p>
            <p class="card-text">Skill: <%=s.title%></p>
            <a href="/services/<%= s.id %>" class="btn btn-primary">More Details</a>
          </div>
        </div>
<% end %>

