<html>
<%= form_with scope: :person, url: people_path, local: true do |f| %>
<p>
  First Name:<br>
  <%= f.text_field :first_name %>
</p>
<p>
  Last Name:<br>
  <%= f.text_field :last_name %>
</p>
<p>
  Address line 1:<br>
  <%= f.text_field :address_1 %>
</p>
<p>
  Address line 2:<br>
  <%= f.text_field :address_2 %>
</p>
<p>
  City:<br>
  <%= f.text_field :city %>
</p>
<p>
  Province:<br>
  <%= f.text_field :province %>
</p>
<p>
  Postal Code:<br>
  <%= f.text_field :postal_code %>
</p>
<p>
  Country:<br>
  <%= f.text_field :country %>
</p>
<p>
  Home Number:<br>
  <%= f.text_field :home_number %>
</p>
<p>
  Mobile Number:<br>
  <%= f.text_field :mobile_number %>
</p>
<p>
  Age:<br>
  <%= f.text_field :age %>
</p>
<p>
  Profile Picture:<br>
  <%= f.text_field :profile_pic %>
</p>
<p>
  Group:<br>
  <%= f.number_field :group %>
</p>
<%= f.submit %>
<% end %>
</html>