<h1> Welcome <%= @person.first_name%> <%=@person.last_name%></h1>

<table border="1">
  <tr>
    <th>Your address</th>
  </tr>
  <tr>
    <td><%=@person.address_1%></td>
  </tr>
  <tr>
    <td><%=@person.address_2%></td>
  </tr>
  <tr>
    <td><%=@person.city%></td>
  </tr>
  <tr>
    <td><%=@person.province%></td>
  </tr>
  <tr>
    <td><%=@person.postal_code%></td>
  </tr>
  <tr>
    <td><%=@person.country%></td>
  </tr>
</table>


