<h1>Transaction Details</h1>

<h3><%= @transaction.service_title %></h3>
<br>
<p>Cost per hour: <%= @transaction.charge_per_hour %>/hour</p>
<br>
<p>Total Time: <%= @transaction.number_of_hours %> hour(s)</p>
<br>
<p>Total cost: <%= @transaction.total_amount %></p>
<br>
<h4>Client:
  <%= link_to user_path(@transaction.client_id) do %>
      <%=@transaction.client.try(:first_name) %>
  <% end %>
</h4>
<%= link_to "Edit Transaction", edit_user_transaction_path(@user.id, @transaction.id), :class => 'btn btn-default'  %>
