<div class = "form-horizontal">
    <div class="sign-in-container">
      <div class="card-signIn"></div>
        <div class="card-signIn newService">

					<h2 class="title">Forgot your password?</h2>

					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  	<%= devise_error_messages!%>

					  <div class="input-container">
					    <%= f.label :email, "Email", class: 'control-label'%><br/>
					    <%= f.email_field :email, autofocus: true, class: "form-control" %>
					  </div>

					  <div class="button-container">
					  	<%= f.submit "Send me reset password instructions", class: "btn btn-default btn-primary" %>
				  	</div>

				  	<div class = "other">
				  		<%= render "devise/shared/links" %>
				  	</div>
					<% end %>
				</div>
	</div>
</div>

