<h1>Edit service</h1>

<%= form_for :service, :url => user_services_path(@user.id, @user.services), method: :patch  do |f| %>
    <% if @service.errors.any? %>
        <h2>Errors:</h2>
        <ul>
          <% @service.errors.full_messages.each do |message| %>
              <li><%=message %></li>
          <% end %>
        </ul>
    <% end %>
    <%= f.hidden_field :user_id , :value=>@user.id %>
    <div>
      <%= f.label :service_title, "Title"%>
      <%= f.select :service_title, Service::SERVICE_TYPES, {}, :id => "main_category_id"%>
    </div>

    <div id = "other-task-id" style = "display:none;">
      <input id = "other_category_id" type = "text" >
    </div>

    <div>
      <%= f.label :charge_per_hour, "Charge per hour in dollars"%>
      <%= f.text_field :charge_per_hour %>
    </div>

    <%= f.submit 'Add', :id => "submit_id", :value => nil %>
<% end %>

<script type="text/javascript">
    var main_category_selection = document.getElementById("main_category_id")
    var other_category_selection = document.getElementById("other_category_id")
    var submit = document.getElementById("submit_id")

    main_category_selection.onchange = () => {
        var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

        var hiddenTaskField = document.getElementById("other-task-id");
        hiddenTaskField.style.display = (selectedOption == "Other") ? "block" : "none";
    }

    submit.onclick = () =>
    {
        var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

        if (selectedOption == "Other") {
            main_category_selection.options[main_category_selection.selectedIndex].value = other_category_selection.value;
        }
    }
</script>