<h1>Create a Job Posting</h1>

<%= form_for :service, :url => user_services_path(current_user.id) do |f| %>
  <% if @service.errors.any? %>
        <% @service.errors.full_messages.each do |message| %>
          <div class = "alert alert-danger"><%=message %></div>
        <% end %>
  <% end %>
	<%= f.hidden_field :user_id , :value=>current_user.id %>
 	<div class="form-group">
  	<%= f.label :title, "Title", class: 'control-label col-sm-3'%>
    <div class="col-sm-9">
    <%= f.select :title, Service::SERVICE_TYPES, {}, :id => "main_category_id", class: 'form-control'%>
    </div>
  </div>

  <div id = "other-div" class="form-group" style = "display:none;">
    <div class = "control-label col-sm-3">Describe the service</div>
    <div id = "other-task-id"  class= "col-sm-9" >
      <input id = "other_category_id" type = "text" class = "form-control">
    </div>
  </div>

  <div class="form-group">
    <%= f.label :charge_per_hour, "Charge per hour in dollars", class: 'control-label col-sm-3'%>
    <div class="col-sm-9">
      <%= f.text_field :charge_per_hour , class: 'form-control' %>
    </div>
  </div>

  <!-- Setting the min age -->
  <div class="form-group">
    <%= f.label :min_age, "Min Teenager Age (13-19)", class: 'control-label col-sm-3'%>
    <div class="col-sm-9">
      <%= f.number_field :min_age, :value => 13, class: 'form-control'%>
    </div>
  </div> 
    <!-- Setting the max age -->
  <div class="form-group">
    <%= f.label :max_age, "Max Teenager Age (13-19)", class: 'control-label col-sm-3'%>
    <div class="col-sm-9">
      <%= f.number_field :max_age, :value => 19, class: 'form-control'%>
    </div>
  </div> 

  <!-- Frequcy Toggle and Input Field-->
  <div class="form-group">
    <div class = "control-label col-sm-3">Reoccuring service?</div>
    <input class = "checkbox-inline" id = "service_freq_toggle" onclick="frequencyToggle()" type="checkbox"/>
  </div>
  <div class="form-group" id = "service_freq_input_div" style = "display:none;" >
    <%= f.label :frequency, "Reoccur every how many days?", class: 'control-label col-sm-3'%>
    <div class="col-sm-9">
      <%= f.number_field :frequency, :id => "service_freq_input_field", :value => 0, class: 'form-control'%>
    </div>
  </div>  

  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.submit 'Add', :id => "submit_id", :value => nil, class: "btn btn-default btn-primary"%>
    </div>
  </div>
<% end %>

<script type="text/javascript">
	var main_category_selection = document.getElementById("main_category_id")
	var other_category_selection = document.getElementById("other_category_id")
	var submit = document.getElementById("submit_id")
  var frequencyInputDiv= document.getElementById("service_freq_input_div");
  var frequencyInputField = document.getElementById("service_freq_input_field");

  /* Logic for frequency toggle */
  frequencyToggle = () => {
    frequencyInputDiv.style.display = (frequencyInputDiv.style.display === "none") ? "block" : "none"
  }

	main_category_selection.onchange = () => {
		var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

		var hiddenTaskField = document.getElementById("other-div");
		hiddenTaskField.style.display = (selectedOption == "Other") ? "block" : "none";
   	}

   	submit.onclick = () =>
  {
    // If the frequency toggle is unselected, send back 0 as its value
    if (frequencyInputDiv.style.display === "none") {
      frequencyInputField.value = 0
    }

      var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

      if (selectedOption == "Other") {
          main_category_selection.options[main_category_selection.selectedIndex].value = other_category_selection.value;
      }
  }
</script>