<h1>Create a Job Posting</h1>

<%= form_for :service, :url => user_services_path(current_user.id) do |f| %>
  <% if @service.errors.any? %>
        <% @service.errors.full_messages.each do |message| %>
          <div class = "alert alert-danger"><%=message %></div>
        <% end %>
  <% end %>
	<%= f.hidden_field :user_id , :value=>current_user.id %>
 	<div>
  	<%= f.label :title, "Title"%>
  	<%= f.select :title, Service::SERVICE_TYPES, {}, :id => "main_category_id"%>
  </div>

  <div id = "other-task-id" style = "display:none;">
  	<input id = "other_category_id" type = "text" >
  </div>

  <div>
  	<%= f.label :charge_per_hour, "Charge per hour in dollars"%>
  	<%= f.text_field :charge_per_hour %> 
  </div>

  <!-- Frequcy Toggle and Input Field-->
  <div>
  Reoccuring service?
  <input id = "service_freq_toggle" onclick="frequencyToggle()" type="checkbox"/>
  </div>
  <div id = "service_freq_input_div" style = "display:none;" >
    <%= f.label :frequency, "Reoccur every how many days?"%>
    <%= f.number_field :frequency, :id => "service_freq_input_field",  :value => 0 %> 
  </div>

  <div>
  <%= f.submit 'Add', :id => "submit_id", :value => nil %>
  </div>
<% end %>

<script type="text/javascript">
	var main_category_selection = document.getElementById("main_category_id")
	var other_category_selection = document.getElementById("other_category_id")
	var submit = document.getElementById("submit_id")
  var frequencyInputDiv= document.getElementById("service_freq_input_div");
  var frequencyInputField = document.getElementById("service_freq_input_field");

  /* Logic for frequency toggle */
  frequencyToggle = () => {
    frequencyInputDiv.style.display = (frequencyInputDiv.style.display === "none") ? "block" : "none"
  }

	main_category_selection.onchange = () => {
		var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

		var hiddenTaskField = document.getElementById("other-task-id");
		hiddenTaskField.style.display = (selectedOption == "Other") ? "block" : "none";
   	}

   	submit.onclick = () =>
  {
    // If the frequency toggle is unselected, send back 0 as its value
    if (frequencyInputDiv.style.display === "none") {
      frequencyInputField.value = 0
    }

      var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

      if (selectedOption == "Other") {
          main_category_selection.options[main_category_selection.selectedIndex].value = other_category_selection.value;
      }
  }
</script>