<div class="row">
  <h1 class="col-sm-4 col-sm-offset-4 text-center">Create a Job Posting</h1>
</div>


<%= form_for :service, :url => services_path(current_user.id) do |f| %>
  <% if @service.errors.any? %>
        <% @service.errors.full_messages.each do |message| %>
          <div class = "alert alert-danger"><%=message %></div>
        <% end %>
  <% end %>
	<%= f.hidden_field :user_id , :value=>current_user.id %>
  <%= f.hidden_field :status, :id => "serviceStatusHiddenField", :value=>Service::UNLISTED %>

 	<div class="form-row col-sm-4 col-sm-offset-4 form-input-group">
    <%= f.label :title, "Please select service type", class: 'control-label'%>
    <%= f.select :title, Service::SERVICE_TYPES, {}, :id => "main_category_id", class: 'form-control'%>
  </div>

  <div id = "other-div" class="form-row col-sm-4 col-sm-offset-4 form-input-group" style = "display:none;">
    <%= f.label :other_title, "Specify a short title for your service", class: 'control-label'%>
    <div id = "other-task-id">
      <%= f.text_field :other_title, placeholder: "One word title for the service" , class: 'form-control' %>
    </div>
  </div>

    <%=f.hidden_field :skill ,:value=>'1' %>

  <div class="form-row col-sm-4 col-sm-offset-4 form-input-group">
    <%= f.label :description, "Please describe the job in more detail", class: 'control-label'%>
    <%= f.text_area :description, placeholder: "Job description, extra details, etc." , class: 'form-control service_text_area' %>
  </div>

  <div class="form-row col-sm-4 col-sm-offset-4 form-input-group">
    <%= f.label :charge_per_hour, "How much do you want to pay per hour?", class: 'control-label'%>
    <%= f.text_field :charge_per_hour, placeholder: "Charge per hour in dollars" , class: 'form-control' %>
  </div>

  <!-- Setting the min and max age -->
  <!-- TODO: Figure out solution to extra padding-left and padding-right problem -->
  <div class="form-row col-sm-4 col-sm-offset-4 form-input-group">
    <div class="form-group col-sm-6" style="padding-left: 0px;">
      <%= f.label :min_age, "Min Age", class: 'control-label'%>
      <%= f.number_field :min_age, placeholder: "e.g. 13",  class: 'form-control'%>
    </div>
    <div class="form-group col-sm-6" style="padding-right: 0px;">
      <%= f.label :max_age, "Max Age", class: 'control-label'%>
      <%= f.number_field :max_age, placeholder: "e.g. 19", class: 'form-control'%>
    </div>
  </div>


  <!-- Frequcy Toggle and Input Field-->
  <div class="form-row col-sm-4 col-sm-offset-4 form-input-group">
    <input class = "checkbox-inline" id = "service_freq_toggle" onclick="frequencyToggle()" type="checkbox"/>
    <%= f.label "This is a reoccuring service", class: 'control-label'%>
  </div>

  <div class="form-row col-sm-4 col-sm-offset-4 form-input-group" id = "service_freq_input_div" style = "display:none;" >
    <%= f.label :frequency, "How often (in days) do you want this service to reoccur?", class: 'control-label'%>
    <%= f.number_field :frequency, :id => "service_freq_input_field", :value => 0, class: 'form-control'%>
  </div>


  <div class="form-row col-sm-4 col-sm-offset-4 form-input-group">
      <div class="col-sm-8 col-sm-offset-2 text-center">
      <%= f.submit "Create", :id => "submit_create_button", class: "btn btn-default btn-primary"%>
      <%= f.submit "Create and List", :id => "submit_create_list_button", class: "btn btn-default btn-success"%>
      </div>
  </div>
<% end %>

<script type="text/javascript">
	var main_category_selection = document.getElementById("main_category_id")
	var other_category_selection = document.getElementById("other_category_id")
	var submit = document.getElementById("submit_create_button")
  var submitAndList = document.getElementById("submit_create_list_button")
  var frequencyInputDiv= document.getElementById("service_freq_input_div");
  var frequencyInputField = document.getElementById("service_freq_input_field");

  /* Logic for frequency toggle */
  frequencyToggle = () => {
    frequencyInputDiv.style.display = (frequencyInputDiv.style.display === "none") ? "block" : "none"
  }

	main_category_selection.onchange = () => {
		var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

		var hiddenTaskField = document.getElementById("other-div")
		hiddenTaskField.style.display = (selectedOption == "Other") ? "block" : "none"

      switch($("#main_category_id").val()){
          case 'Babysitting' :
              $('#service_skill').val(1)
              break;
          case 'Yard work' :
              $('#service_skill').val(2)
              break;
          case 'Snow shoveling' :
              $('#service_skill').val(3)
              break;
          case 'Furniture moving' :
              $('#service_skill').val(4)
              break;
          case 'Simple cleaning tasks' :
              $('#service_skill').val(5)
              break;
          case 'Vacation services' :
              $('#service_skill').val(6)
              break;
          case 'Dog walking' :
              $('#service_skill').val(7)
              break;
          case 'Computer help' :
              $('#service_skill').val(8)
              break;
          case 'Tutoring' :
              $('#service_skill').val(9)
              break;
          case 'Reading' :
              $('#service_skill').val(10)
              break;
          case 'Other' :
              $('#service_skill').val(0)
              break;
      }

   	}

   	submit.onclick = () =>
  {
      // If the frequency toggle is unselected, send back 0 as its value
      if (frequencyInputDiv.style.display === "none") {
          frequencyInputField.value = 0
      }

      var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

      if (selectedOption == "Other") {
          main_category_selection.options[main_category_selection.selectedIndex].value = other_category_selection.value;
      }
  }

  submitAndList.onclick = () =>
  {
      $("#serviceStatusHiddenField").val("<%= Service::LISTED %>")
      // If the frequency toggle is unselected, send back 0 as its value
      if (frequencyInputDiv.style.display === "none") {
          frequencyInputField.value = 0
      }

      var selectedOption = main_category_selection.options[main_category_selection.selectedIndex].text

      if (selectedOption == "Other") {
          main_category_selection.options[main_category_selection.selectedIndex].value = other_category_selection.value;
      }
  }

</script>