<h1>Service Details</h1>

<h3><%= @service.title %></h3>
<p>Posted By: <%= @service.user.first_name + ' ' + @service.user.last_name %></p>
<br>
<p>Cost: <%= @service.charge_per_hour %>/hour</p>

<!-- TODO: Remove UNLITED check once listing logic is up -->
<% if @service.status == Service::LISTED || @service.status == Service::UNLISTED %>
	<!-- If the creator is viewing the service, show list of people that requested  -->
	<% if @service.user_id == current_user.id %>
		<p style="color:red"> List of users requesting this service </p>
		<table style="width:50%;text-align:center;background-color:#dfdfdf">
			<% @service.service_users.each do |relation| %>
				<% @requestingUser = User.find(relation.user_id)%>
				<tr>
					<td>
						<p>Name: <%= @requestingUser.first_name %><%= @requestingUser.last_name %></p>
						<p>Email: <%= @requestingUser.email %></p>
						<p>Age: <%= @requestingUser.age %></p>
					</td>
					<td><%= button_to 'View User Info', user_path(@requestingUser),
							:class => 'btn btn-default', method: :get %></td>
					<td>
						<%= link_to "Select User", select_request_service_path({:service => @service, :userId => @requestingUser.id}), method: :get, data: {title: 'Select User to Perform Service' , confirm: 'Are you sure you want to select this user?'}, :class => 'btn btn-success' %>
					</td>
				</tr>
			<% end %>
		</table>
	<!-- Only render the request button if user is not of same group -->
	<% elsif @service.user.group != current_user.group %>
		<% if @service.service_users.exists?(:user_id => current_user.id) %>
			<%= button_to 'Remove Request', remove_request_service_path, method: :get %>
		<% else %>
			<%= button_to 'Request Service', add_request_service_path, method: :get %>
		<% end %>
	<% end %>
<% elsif @service.status == Service::ACCEPTED %>
	<% @acceptedUser = User.find(@service.service_users.first.user_id) %>
	<% if @service.user_id == current_user.id %>
		<p> Congratulations! You have succesfully connected with <%= @acceptedUser.email %><p>
	<% elsif @acceptedUser.id == current_user.id %>
		<p> Congratulations! You have succesfully connected with <%= @service.user.email %><p>
	<% end %>
<% end %>