<div class = "about-teenserv">
	<h2 class = "heading-about-teenserv">About TeenServ</h2>
	
	<p class = "paragraph-about-teenserv">TeenServ is a platform that connects teenagers looking for simple jobs and clients looking to carry out tasks in or around the houserhold. We know the hassle of finding a part-time job and making quick money as a teenager, so we created TeenServ! </p>
	
	<p class = "paragraph-about-teenserv">Our goal is to create an ecosystem where clients and teenagers can benefit symbiotically. Clients can choose from rated teenagers to carry out their task. Teenagers have the freedom of accepting or declining offers from rated clients. Payments are handled entirely by us and client-teenager reviews are anonymous.</p>
</div>


<div class = "team">
	<h2 class = "our-team">OUR TEAM</h2>
	<div class = "row-team-members">
		<div class="aboutus-profilePic">
				<%= image_tag "Reda.jpg" %>
				<h4 class = "team-member-name">Mohamed Reda</h4>
		</div>
	</div>

	<div class = "row-team-members">
		<div class="col-md-4 aboutus-profilePic">
			<%= image_tag "Rohan.jpg" %>
			<h4 class = "team-member-name">Shamitra Rohan</h4>
		</div>

		<div class="col-md-4 aboutus-profilePic">
			<%= image_tag "Dilip.jpg" %>
			<h4 class = "team-member-name">Dilip Ojha</h4>
		</div>

		<div class="col-md-4 aboutus-profilePic">
			<%= image_tag "Ziyad.jpg" %>
			<h4 class = "team-member-name">Ziyad Helali</h4>
		</div>
	</div>

	<div class = "row-team-members">
		<div class="col-md-4 aboutus-profilePic">
			<%= image_tag "Kekkli.jpg" %>
			<h4 class = "team-member-name">Mohamed Alkakkali</h4>
		</div>

		<div class="col-md-4 aboutus-profilePic">
			<%= image_tag "Aser.jpg" %>
			<h4 class = "team-member-name">Aser Eldamaty</h4>
		</div>

		<div class="col-md-4 aboutus-profilePic">
			<%= image_tag "Kishk.jpg" %>
			<h4 class = "team-member-name">Ahmed Kishk</h4>
		</div>
	</div>
</div>