<div class = "container-how-it-works main">
	<h3 id = "title-how-it-works"><%= t :howItWorks %></h3>

	<div class = "how-it-works-1">
		<div class = "col-md-6">
			<%= image_tag "008-sign-up.svg", :size => "200x200", :class => "sign-up-svg"%>
		</div>
		<div class = "col-md-6">
			<h4 class = "col-heading">1. <%= t :SignUpWithUs %></h4>
			<p class = "col-paragraph"><%= t :SignUpDes %></p>
		</div>
	</div>

	<div class = "how-it-works-2">
		<div class = "col-md-6">
			<%= image_tag "009-calendar.svg", :size => "200x200", :class => "calendar-svg"%>
		</div>
		<div class = "col-md-6">
			<h4 class = "col-heading">2. <%= t :describeHome %></h4>
			<p class = "col-paragraph"><%= t :describeDes %></p>
		</div>
	</div>

	<div class = "how-it-works-3">
		<div class = "col-md-6">
			<%= image_tag "010-checklist-done.svg", :size => "200x200", :class => "checklist-done-svg"%>
		</div>
		<div class = "col-md-6">
			<h4 class = "col-heading">3. <%= t :taskDoneHome %></h4>
			<p class = "col-paragraph"><%= t :taskDoneDes %></p>
		</div>
	</div>
</div>