<% if @user.blank?%>
<div id = "header" class = "header-div">
    <header class="header-intro">
        <div class="container-intro">
			<h1 id = "welcome-tag"><%= t :welcome %></h1>
			<h3 id = "welcome-description-1"><%= t :fastTask %></h3>
			<h4 id = "welcome-description-2"><%= t :fastDes %></h4>
		</div>
		<div class = "container-svg">
				<%= image_tag "001-gardening-shovel-tool-shape.svg", :size => "80x80", :class => "shovel-svg"%>
				<%= image_tag "002-wheelbarrow.svg", :size => "65x65", :class => "wheel-barrow-svg"%>
				<%= image_tag "003-study.svg", :size => "65x65", :class => "study-svg"%>
				<%= image_tag "004-dog-with-belt-walking-with-a-man.svg", :size => "65x65", :class => "dog-walk-svg"%>
				<%= image_tag "005-lawn-mower.svg", :size => "65x65", :class => "lawn-mower-svg"%>
				<%= image_tag "006-vacuum.svg", :size => "65x65", :class => "vacuum-svg"%>
				<%= image_tag "007-mop-tool-to-clean-floors.svg", :size => "65x65", :class => "mop-svg"%>
		</div>
    </header>
</div>

<div class = "container-how-it-works">
	<h3 id = "title-how-it-works"><%= t :howItWorks %></h3>

	<div class = "how-it-works-1">
		<div class = "col-md-6">
			<%= image_tag "008-sign-up.svg", :size => "200x200", :class => "sign-up-svg"%>
		</div>
		<div class = "col-md-6">
			<h4 class = "col-heading">1. <%= t :SignUpWithUs %></h4>
			<p class = "col-paragraph"><%= t :SignUpDes %></p>
		</div>
	</div>

	<div class = "how-it-works-2">
		<div class = "col-md-6">
			<%= image_tag "009-calendar.svg", :size => "200x200", :class => "calendar-svg"%>
		</div>
		<div class = "col-md-6">
			<h4 class = "col-heading">2. <%= t :describeHome %></h4>
			<p class = "col-paragraph"><%= t :describeDes %></p>
		</div>
	</div>

	<div class = "how-it-works-3">
		<div class = "col-md-6">
			<%= image_tag "010-checklist-done.svg", :size => "200x200", :class => "checklist-done-svg"%>
		</div>
		<div class = "col-md-6">
			<h4 class = "col-heading">3. <%= t :taskDoneHome %></h4>
			<p class = "col-paragraph"><%= t :taskDoneDes %></p>
		</div>
	</div>
</div>
<%elsif @user.is_teen?%>
    <div class="container">
      <div class="row" style="text-align: center">
        <h3>Welcome <%=@user.first_name.capitalize()%> !</h3>
      </div>
      <div class="row" style="margin-top: 5%">
        <div class="col-lg-9">
          <p>If you would like to learn how the website works and how you can start earning money, then click below.</p>
          <%= link_to "How it works", "#", :class => 'btn btn-primary' %>
        </div>
      </div>
      <div class="row" style="margin-top: 3%">
        <% if @user_skills.blank? || @user_availability.blank?%>
          <div class="col-lg-9">
            <p>It seems you don't have a complete profile! In order to enhance your experience, please complete your profile by
            providing the skills you can perform and ensuring your availability timetable is complete.</p>
            <%= link_to "My Skills", edit_user_skill_path(@user.id) , :class => 'btn btn-primary' %>
            <%= link_to "My Availability", edit_teen_time_path(@user.id) , :class => 'btn btn-primary' %>
          </div>
      </div>
        <%else%>
            <% if @recommended_services.blank?%>
                <div class="row" style="margin-top: 5%">
                  <p>Based on your current profile, there are no services that suit you. Please consider updating your profile.</p>
                  <br>
                  <p>You can also view all services and request whatever you like. However, not having the skill required for the job
                    may reduce your chances of getting accepted by the client.</p>
                </div>
            <%else%>
                <div class="row">
                  <h4> Recommended Services</h4>
                  <br>
                  <% @recommended_services.each do |s|%>
                      <div class="col-md-3">
                        <table style="border:solid">
                          <tr>
                            <td>
                              <p>Title: <%=s.title%></p>
                              <p>Description: <%=s.description%></p>
                              <p>Charge: $<%=s.charge_per_hour%> per hour</p>
                            </td>
                          <tr>
                            <td>
                              <%= link_to "View", service_path(s.id), :class => 'btn btn-primary' %>
                            </td>
                          </tr>
                          </tr>
                        </table>
                      </div>
                  <%end%>
                </div>
            <%end%>
        <%end%>
    </div>
<%elsif @user.is_client?%>
    <div class="container">
      <div class="row" style="text-align: center">
        <h3>Welcome <%=@user.first_name.capitalize%>!</h3>
      </div>
      <br>
      <div class="row">
        <% if @latest_service.blank?%>
            <div class="col-lg-9">
              <p>You haven't posted any service yet. If you're new to the site, make sure to learn how our website works by clicking on the button below</p>
              <%= link_to "How it works", "#", :class => 'btn btn-primary' %>
              <br><br>
              <p>If you are familiar with our website and want to create a new service posting, then click the button below to get started.</p>
              <%= link_to "Create Service", new_service_path, :class => 'btn btn-primary' %>
            </div>
        <%else%>
        <div class="col-md-4">
          <h3>Latest Job Posted</h3>
            <hr>
            <table>
              <tr>
                <td>
                  <p>Title: <%=@latest_service[0].title%></p>
                  <p>Description: <%=@latest_service[0].description%></p>
                  <p>Charge: $<%=@latest_service[0].charge_per_hour%> per hour</p>
                </td>
              <tr>
                <td>
                  <%= link_to "View", service_path(@latest_service[0].id), :class => 'btn btn-primary' %>
                </td>
              </tr>
              </tr>
            </table>
        </div>
        <div class="col-md-4">
          <% if @current_services.blank?%>
              <p> You don't have any undergoing services at the moment. Add a new service or send offers to teenagers to perform your services.</p>
          <%else%>
            <h3>Current Jobs Active</h3>
            <hr>
            <% @current_services.each do |s|%>
                <table>
                  <tr>
                    <td>
                      <p>Title: <%=s.title%></p>
                      <p>Description: <%=s.description%></p>
                      <p>Charge: $<%=s.charge_per_hour%> per hour</p>
                    </td>
                  <tr>
                    <td>
                      <%= link_to "View", service_path(s.id), :class => 'btn btn-primary' %>
                    </td>
                  </tr>
                  </tr>
                </table>
                <br>
            <%end%>
          <%end%>
        </div>
        <div class="col-md-4">
          JOBS AWAITING TIMESHEET APPROVAL GO HERE
        </div>
      <%end%>
      </div>
    </div>
<%end%>