<div class = "form-horizontal">

  <div class = "form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <h2>Log in</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, :class => "control-label col-sm-4" %>
      <div class="col-sm-5">
        <%= f.email_field :email, autofocus: true , :class => "form-control"%>
      </div>    
    </div>

    <div class="form-group">
      <%= f.label :password , :class => "control-label col-sm-4"%>
      <div class="col-sm-5">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end -%>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <div class="form-actions">
          <%= f.submit "Log in",:class => "btn btn-primary"  %>
        </div>
      </div>
    </div>
  <% end %>

  <div class = "form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>