<div class="sign-in-container">
  <div class="sign-in-back">

    <!-- Pen Title-->
    <div class="sign-in-container">
      <div class="card-signIn"></div>
      <div class="card-signIn">
        <h1 class="title">Login</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="input-container">
                <%= f.email_field :email, autofocus: true%>
                <label for="Username">Email</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                <%= f.password_field :password, autocomplete: "off"%>
                <label for="Password">Password</label>
                <div class="bar"></div>
              </div>


              <div class="button-container">
                <!--%= f.submit "Log In", :class => "login-btn" %>-->
                <%= button_tag(type: 'submit', class: "login-btn") do %>
                    <span class="span"></span>GO
                <% end %>
              </div>

              <% if devise_mapping.rememberable? -%>
                  <div class="footer">
                    <a><%= f.check_box :remember_me,  :class => 'save-checkbox' %></a>
                    <a><%= f.label :remember_me,  :class => 'save-label'%></a>
                  </div>
              <% end -%>
              <div class = "other">
                  <%= render "devise/shared/links" %>
              </div>

          <% end %>
      </div>

    </div>
    </div>
  </div>
</div>