<div class="stars">
  <%= radio_button_tag(:rating, 1, class: 'star-1') %>
  <%= label_tag :rating_1, nil, class: 'star-1' %>
  <%= radio_button_tag(:rating, 2, class: 'star-2') %>
  <%=label_tag :rating_2, nil, class: 'star-2'%>
  <%= radio_button_tag(:rating, 3, class: 'star-3') %>
  <%= label_tag :rating_3, nil, class: 'star-3'%>
  <%= radio_button_tag(:rating, 4, class: 'star-4') %>
  <%=label_tag :rating_4, nil, class: 'star-4'%>
  <%= radio_button_tag(:rating, 5, class: 'star-5') %>
  <%=label_tag :rating_5, nil, class: 'star-5'%>
  <span id="limitingSpan" style="width:<%=rating*20%>%;"></span>
</div>
