<% if @user.id==@current_user.id%>
    <h1> Welcome <%= @user.first_name%></h1>
    <% if @user.group==0%>
      <table border="1">
        <tr>
          <th>Your address</th>
        </tr>
        <tr>
          <td><%=@user.address_1%></td>
        </tr>
        <tr>
          <td><%=@user.address_2%></td>
        </tr>
        <tr>
          <td><%=@user.city%></td>
        </tr>
        <tr>
          <td><%=@user.province%></td>
        </tr>
        <tr>
          <td><%=@user.postal_code%></td>
        </tr>
        <tr>
          <td><%=@user.country%></td>
        </tr>
      </table>

      <h2>Your Services:</h2>
      <% @user.services.each do |service| %>
          <h4>Service: <%= service.service_title %></h4>
          <h4>Charge: $<%= service.charge_per_hour %> per hour</h4>
          <%= link_to "Edit/Delete Service", user_services_path(@user.id), :class => 'btn btn-default' %>
      <% end %>

      <div>
        <%= link_to "Add service", new_user_service_path(@user.id)%>
      </div>
    <%elsif @user.group==1%>
        <br><br>
        <h3> Your client dashboard</h3>
        <hr>
        <h4> Add new service </h4>
        <div><%= link_to "Add service", new_user_service_path(@user.id)%></div>
        <br>
        <h4>Current services:</h4>
    <%end%>
<%else%>
    <h1> Welcome to <%= @user.first_name%>'s profile</h1>
<%end%>
