<% if @current_user != nil %>
  <div class="container">
      <div class="card picBar">
        <div class="profilePic">
          <% if @user.profile_pic_file_name != nil %>
            <%= image_tag @user.profile_pic.url %>
          <% else %>
            <img alt="" src="http://gazettereview.com/wp-content/uploads/2016/03/facebook-avatar.jpg">
          <% end %>
        </div>
        <div class="card-info"> <span class="card-title"><%= @user.first_name%> <%= @user.last_name%></span>

        </div>
      </div>
      <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" id="about" class="btn btn-primary" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <div class="hidden-xs">About</div>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="services" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <div class="hidden-xs">Services</div>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="reviews" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <div class="hidden-xs">Reviews</div>
          </button>
        </div>
        <% if @user.id==@current_user.id%>
        <div class="btn-group" role="group">
          <button type="button" id="billing" class="btn btn-default" data-toggle="tab"><span class="fa fa-dollar" aria-hidden="true"></span>
            <div class="hidden-xs">Billing & Payments</div>
          </button>
        </div>
        <%end%>
      </div>

      <div class="well">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="aboutTab">
            <div class="container">
              <div class="row">
                <%if @user.id == @current_user.id%>
                <div class="col-md-4">
                <%else%>
                <div class="col-md-6">
                <%end%>
                  <h4> <i class="fa fa-user" aria-hidden="true"></i> Account type</h4>
                  <% if @user.group==0 %>
                      <p>Teenager</p>
                  <% elsif @user.group==1 %>
                      <p>Client</p>
                  <%end%>
                  <br>
                  <h4 style=""><i class="fa fa-address-book" aria-hidden="true"></i> Contact Information</h4>
                  <p><i class="fa fa-envelope" aria-hidden="true"></i> <%=@user.email%></p>
                  <p><i class="fa fa-phone" aria-hidden="true"></i> <%=@user.mobile_number%></p>
                </div>
                <div class="col-md-4">
                  <% if @user.id == @current_user.id %>
                  <h4><i class="fa fa-building-o" aria-hidden="true"></i> Address </h4>
                    <table>
                      <tr>
                        <td><b><%=@user.first_name%> <%=@user.last_name%></b></td>
                      </tr>
                      <tr>
                        <td><%=@user.address_1.capitalize()%></td>
                      </tr>
                      <tr>
                        <td><%=@user.address_2.capitalize()%></td>
                      </tr>
                      <tr>
                        <td><%=@user.city.capitalize()%> <%=@user.province%> <%=@user.postal_code.upcase()%></td>
                      </tr>
                      <tr>
                        <td><%=@user.country.capitalize()%></td>
                      </tr>
                    </table>
                  <%else%>
                      <h4><i class="fa fa-map-marker" aria-hidden="true"></i> Location </h4>
                      <p><%=@user.city.capitalize()%> <%=@user.province%> <%=@user.postal_code.upcase()%></p>
                      <p><%=@user.country.capitalize()%></p><br>
                      <div style='width: 300px;'>
                        <div id="map" style='width: 300px; height: 300px;'></div>
                      </div>
                  <%end%>
                </div>
                <% if @user.id == @current_user.id %>
                  <div class="col-md-4">
                    <%= link_to "Edit Profile", edit_user_registration_path , :class => 'btn btn-primary',:style => 'margin-bottom:4px' %><br>
                    <%= link_to "Delete Account", user_registration_path, :class => 'btn btn-danger', data: {title: 'Delete Account' ,confirm: "Are you sure you want to delete your account?" }, method: :delete %>

                  </div>
                <%end%>
              </div>
            <% if @user.group == 0 %>
              <div class="row">
                <div class="col-md-4 skills">
                  <h4><i class="fa fa-star" aria-hidden="true"></i> Skills</h4>
                  <% @userSkills = UserSkill.where(:user_id => @user.id) %>
                  <% @userSkills.each do |skill| %>
                      <%= Skill.find(skill.skill_id).skill_name %><br>
                  <% end %>
                </div>
                <% if @user.id == @current_user.id %>
                  <div class="col-md-4">
                    <div class="skillsDropdowns">
                      <div class="addSkill">
                        <%= form_for :user_skill, :url => url_for(:controller => 'user_skills', :action => 'create') do |f| %>
                          <%= select_tag :skill_id, options_from_collection_for_select(Skill.find_by_sql("SELECT * FROM ((SELECT id, skill_name  FROM skills) EXCEPT (SELECT skills.id, skills.skill_name FROM skills JOIN user_skills ON skills.id = user_skills.skill_id where user_id = #{@user.id}))a ORDER BY a.id"), :id, :skill_name) %>
                          <button type="submit" class="btn btn-default addSkillButton">Add Skill</button>
                        <% end %>
                      </div>
                      <div class="removeSkill">
                        <%= form_for :user_skill, :url => url_for(:controller => 'user_skills', :action => 'destroy') do |f| %>
                            <%= select_tag :skill_id, options_from_collection_for_select(Skill.find_by_sql("SELECT skills.id, skills.skill_name FROM skills JOIN user_skills ON skills.id = user_skills.skill_id where user_id = #{@user.id} ORDER BY id"), :id, :skill_name) %>
                            <input name="_method" type="hidden" value="DELETE">
                            <button type="submit" class="btn btn-default removeSkillButton">Remove Skill</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
           </div>
          </div>
          <div class="tab-pane fade in" id="servicesTab">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h4><i class="fa fa-cogs" aria-hidden="true"></i> Services listed</h4>
                  <% if @user.services.count != 0 %>
                      <% @user.services.each do |service| %>
                          <p>Service: <%= service.title %></p>
                          <p>Charge: $<%= service.charge_per_hour %> per hour</p>
                          <% if @user.id == @current_user.id %>
                              <%= link_to "Edit", edit_service_path(service), :class => 'btn btn-primary' %>
                              <%= link_to "Delete",service_path(service), method: :delete, data: {title: 'Delete Listed Service' , confirm: 'Are you sure? Item will not appear under listed services'}, :class => 'btn btn-danger' %>
                          <% else %>
                            <%= link_to "View Service", service_path(service.id), :class => 'btn btn-primary' %>
                          <% end %>
                      <%end%>
                  <%else%>
                      <% if @user.id==@current_user.id%>
                        <h5>You currently do not have any services</h5>
                      <%else%>
                        <h5>No services listed by this user at the moment.</h5>
                      <%end%>
                  <%end%>
                </div>
                <div class="col-md-4">
                  <% if @user.id == @current_user.id %>
                    <h4><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Services undergoing</h4>
                    <p> Name of Service</p>
                    <% if @user.group==1 %>
                        <ul> Teen undergoing service</ul>
                        <ul> Due date </ul>
                    <%end%>
                  <%end%>
                </div>
                <% if @user.id ==  @current_user.id%>
                  <div class="col-md-4">
                    <%= link_to "Add service", new_service_path(@user.id) , :class => 'btn btn-primary' ,:style => 'margin-bottom:4px'%><br>
                    <%= link_to "Past services" ,services_path(@user.id), :class => 'btn btn-primary'%>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
          <div class="tab-pane fade in" id="reviewsTab">
            <div class="average-review">
              <% if @user.average_rating.present? %>
                <h4>Average Rating:</h4>
                <%= render(:partial => 'review', :locals => {:rating => @user.average_rating}) %>
              <% end %>
            </div>
            <% if @user.reviews.count != 0 %>
              <% @user.reviews.each do |review| %>
                <div class="review-block">
                  <%= render(:partial => 'review', :locals => {:rating => review.rating}) %>
                    <% if review.body.present? %>
                        <h4>Reivew: <%= review.body %></h4>
                    <% end %>
                  <h4>Author:
                    <%= link_to user_path(review.author_id) do %>
                      <%=review.author.try(:first_name) %>
                    <% end %>
                  </h4>
                </div>
              <% end %>
            <%else %>
                <h5> There are no reviews yet </h5>
            <% end %>
            <div>
              <% if @user.id !=  @current_user.id %>
                <%= link_to "Add Review", new_user_review_path(@user.id), :class => 'btn btn-default' %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade in" id="billingTab">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h4> Transactions </h4>
                  <%= link_to "Payouts", user_payouts_path(@user.id), :class => 'btn btn-default' %>
                  <%= link_to "View Transactions", user_transactions_path(@user.id), :class => 'btn btn-default' %>
                  <% if @user.group==0 %>
                    <%= link_to "New Transaction", new_user_transaction_path(@user.id), :class => 'btn btn-default' %>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <h4>Billing</h4>
                  <% if @user.group==1 && @user.stripe_id.blank?%>
                      <%= form_tag user_cards_path(@user.id) do %>
                          <article>
                            <% if flash[:error].present? %>
                                <div id="error_explanation">
                                  <p><%= flash[:error] %></p>
                                </div>
                            <% end %>
                          </article>

                          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                  data-description="Add a credit card"
                                  data-locale="auto"
                                  data-email="<%=@user.email%>"
                                  data-allow-remember-me='false'
                                  data-panel-label="Add New Card"
                                  data-label="Add New Card">
                          </script>
                      <% end %>
                  <%elsif @user.group==1%>
                      <%= link_to "View credit card on file", user_cards_path(@user.id), :class => 'btn btn-default' %>
                  <%end%>
                  <%if @user.group==0%>
                      <%= link_to "Deposit information", user_deposits_path(@user.id), :class => 'deposit btn btn-default' %><br>
                  <%end%>
                </div>
                <div class="col-md-4">
                  <% if @user.group==0%>
                      <h4> Account Balance</h4>
                      <p> CAD $<%=@user.balance%></p>
                      <%= form_tag user_payouts_path(@user.id) do %>
                          <%= submit_tag "Withdraw balance", class: "btn btn-default" %>
                      <%end%>
                  <%else%>
                  <%end%>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <h4>Please sign up or login to view this user's profile</h4>
<% end %>
<script>
    $(document).ready(function() {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            $(this).removeClass("btn-default").addClass("btn-primary");
            $('.tab-pane').removeClass('active');
            switch($(this)[0].id){
                case 'about':
                    $('#aboutTab').addClass('active');
                    break;
                case 'reviews':
                    $('#reviewsTab').addClass('active');
                    break;
                case 'services':
                    $('#servicesTab').addClass('active');
                    break;
                case 'billing':
                    $('#billingTab').addClass('active');
                    break;
            }
        });
        $('.addSkillButton, .removeSkillButton').click(function(){
            setTimeout(function(){
                location.reload(true);
            },1000);
        });

        $(".deposit").click(function(){
            $("#deposit_info").show();
        })
    });

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
            {
                "lat": <%= @user.latitude%>,
                "lng": <%=@user.longitude%>,

            }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);

    });
</script>
