<h1> Welcome <%= @user.name%></h1>

<table border="1">
  <tr>
    <th>Your address</th>
  </tr>
  <tr>
    <td><%=@user.address_1%></td>
  </tr>
  <tr>
    <td><%=@user.address_2%></td>
  </tr>
  <tr>
    <td><%=@user.city%></td>
  </tr>
  <tr>
    <td><%=@user.province%></td>
  </tr>
  <tr>
    <td><%=@user.postal_code%></td>
  </tr>
  <tr>
    <td><%=@user.country%></td>
  </tr>
</table>


