<div class="container" style="margin-top: 2%; background-color: white; border-radius: 15px; padding-top: 5em; padding-left:10%; padding-right: 10%">
  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <p><%= t :payoutDesc1%></p>
      <p><%= t :payoutDesc2%> </p>
    </div>
  </div>

  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <% if @user_payout_info.method == 'check'%>
          <p> <%=t :currentDeposit%> <b><%=t :chequeMail%></b> </p>
      <% else %>
          <p> <%=t :currentDeposit%> <b>PayPal</b></p>
      <%end%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form_tag user_payout_information_path(@user.id , @user.payout_information.id) , :method => :put do %>
          <%= csrf_meta_tags %>
          <div class = "form-group">
            <label> <%=t :updateDeposit%></label><br>
            <input type="radio" class="PayoutInfo" name="method" value="paypal"> PayPal
            <br>
            <input type="radio" class="PayoutInfo" name="method" value="check"> <%=t :cheque%>
          </div>
          <%=hidden_field_tag 'which_form' , 'method'%>
          <div class="form-group">
            <%= submit_tag I18n.t(:submit), class: 'btn btn-success' %>
          </div>
      <%end%>
    </div>
  </div>
  <hr>
  <div id="paypal" hidden>
    <div class="row">
      <div class="col-lg-12">
        <% if !@user_payout_info.has_paypal?%>
            <p> <%=t :currentPaypal%> <b><%=@user_payout_info.paypal%></b></p>
            <br>
            <p> <%= t :setNewPaypal%> </p>
            <br>
        <%end%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <%= form_tag user_payout_information_path(@user.id , @user.payout_information.id) , :method => :put do %>
            <%= csrf_meta_tags %>
            <div class="form-group">
              <%= label_tag 'paypal', I18n.t(:paypalAddress), class: 'control-label col-sm-10'%>
              <%= email_field_tag 'paypal', nil , class: 'form-control',required:'true'%>
            </div>
            <%=hidden_field_tag 'which_form' , 'paypal'%>
            <div class="form-group">
              <%= submit_tag I18n.t(:submit), class: 'btn btn-success' %>
            </div>
        <%end%>
      </div>
    </div>
  </div>
  <br>

  <div id="check" hidden>
    <div class="row">
      <div class="col-lg-12">
        <p><%=t :currentMailAddress%></p>
        <table>
          <tr>
            <td><b><%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%></b></td>
          </tr>
          <tr>
            <td><%=@user_payout_info.address_1.capitalize()%></td>
          </tr>
          <tr>
            <td><%=@user_payout_info.address_2.capitalize()%></td>
          </tr>
          <tr>
            <td><%=@user_payout_info.city.capitalize()%> <%=@user_payout_info.province%> <%=@user_payout_info.postal_code.upcase()%></td>
          </tr>
          <tr>
            <td><%=@user_payout_info.country.capitalize()%></td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12" style="padding-bottom: 5%">
        <p><%=t :updateMailAddress%></p>
        <br>
        <%= form_tag user_payout_information_path(@user.id , @user.payout_information.id) , :method => :put do %>
            <%= csrf_meta_tags %>
            <div class="form-group">
              <%= label_tag :address_1, I18n.t(:address1), class: "control-label col-sm-4" %>
              <div class="col-sm-5">
                <%= text_field_tag :address_1 , nil, class: 'form-control',required:'true'%>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :address_2, I18n.t(:address2), class: "control-label col-sm-4" %>
              <div class="col-sm-5">
                <%= text_field_tag :address_2 , nil, class: 'form-control',required:'true'%>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :city, I18n.t(:city), class: "control-label col-sm-4" %>
              <div class="col-sm-5">
                <%= text_field_tag :city , nil, class: 'form-control',required:'true'%>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :province, 'Province:', class: "control-label col-sm-4" %>
              <div class="col-sm-5">
                <% if I18n.locale == :en %>
                  <%= select_tag "province","<option value='AB'>Alberta</option><option value='BC'>British Columbia</option>
            <option value='MB'>Manitoba</option><option value='NB'>New Brunswick</option>
<option value='NL'>Newfoundland and Labrador</option><option value='NS'>Nova Scotia</option><option value='ON'>Ontario</option>
<option value='PE'>Prince Edward Island</option><option value='QC'>Quebec</option><option value='SK'>Saskatchewan</option>
<option value='NT'>Northwest Territories</option><option value='NU'>Nunavut</option>
<option value='YT'>Yukon</option>", prompt: I18n.t(:selectOne) , class: "form-control",required:'true'%>
                <%else%>
                    <%= select_tag "province","<option value='AB'>Alberta</option><option value='BC'>Colombie-Britannique</option>
            <option value='MB'>Manitoba</option><option value='NB'>Nouveau-Brunswick</option>
<option value='NL'>Terre-Neuve-et-Labrador</option><option value='NS'>Nouvelle-Écosse</option><option value='ON'>L'Ontario</option>
<option value='PE'>Île-du-Prince-Édouard</option><option value='QC'>Québec</option><option value='SK'>Saskatchewan</option>
<option value='NT'>Territoires du Nord-Ouest</option><option value='NU'>Nunavut</option>
<option value='YT'>Yukon</option>", prompt: I18n.t(:selectOne) , class: "form-control",required:'true'%>
                <%end%>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :postal_code, I18n.t(:postalCode), :class => "control-label col-sm-4" %>
              <div class="col-sm-5">
                <%= text_field_tag :postal_code ,nil, class: 'form-control',required:'true'%>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :country, I18n.t(:country), class: "control-label col-sm-4" %>
              <div class="col-sm-5">
                <%= text_field_tag :country, nil,class: 'form-control',required:'true' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-5">
                <%= submit_tag I18n.t(:submit), class: 'btn btn-success' %>
              </div>
            </div>

            <%=hidden_field_tag 'which_form', 'address'%>
        <%end%>
      </div>
    </div>
  </div>

<script type="text/javascript">

    $(".PayoutInfo").change(function(){
        switch($(this).val()) {
            case 'paypal' :
                $('#paypal').show()
                $('#check').hide()
                break;
            case 'check' :
                $('#check').show()
                $('#paypal').hide()
                break;
        }
    })
</script>