<%if @current_user.id==@user.id%>
<div class="container">

  <div class="row">

    <% if @user.stripe_id%>
      <p> Below are the details of the credit card details in our system. This will be the credit card that we will use when
      billing you after accepting teenagers' time sheets for your services. </p>

      <p>If you would like us to charge a different credit card, please select 'Add New Credit Card'.</p>
      <p>Please note that you can only have one credit card on file, and you <b>must</b> have a credit card on file before adding a service</p>
    <%else%>
      <p> You don't have any cards on file. Click 'Add New Credit Card' to add a credit card so you can post services.</p>
    <%end%>
  </div>
  <br>

  <% @cards.each do |card|%>

      <div class="row">

        <p> Card type: <%=card.brand%></p>

        <p> Last 4 digits of card: <%=card.last4%></p>

        <p> Card expiry date: <%=card.exp_month%>/<%=card.exp_year%></p>

      </div>
      <hr>

  <%end%>

  <%= form_tag user_cards_path(@user.id) do %>
      <article>
        <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
        <% end %>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Add a default credit card"
              data-locale="auto"
              data-email="<%=@user.email%>"
              data-allow-remember-me='false'
              data-panel-label="Add New Credit Card"
              data-label="Add New Credit Card">
      </script>
  <% end %>

</div>

<%else%>
    <p> You are not authorized to view this page!!!</p>
<%end%>
