<%= form_for :transaction, :url => user_transaction_path(@user.id, @transaction.id), method: :patch  do |f| %>

    <div class="form-group">
      <%= f.label :service_title, "Service Title", class: 'control-label col-sm-3'%>
      <div class="input-box col-sm-9">
        <%= f.text_field :service_title , class: 'form-control', id: 'service_title'%>
      </div>
    </div>

    <div class="data form-group">
      <%= f.label :charge_per_hour, "Charge per hour in dollars", class: 'control-label col-sm-3'%>
      <div class="input-box col-sm-9">
        <%= f.number_field :charge_per_hour , class: 'form-control', id: 'charge_per_hour'%>
      </div>
    </div>

    <div class="data form-group">
      <%= f.label :number_of_hours, "Number of Hours", class: 'control-label col-sm-3'%>
      <div class="input-box col-sm-9">
        <%= f.number_field :number_of_hours , class: 'form-control', id: 'number_of_hours' %>
      </div>
    </div>

    <div class="data form-group">
      <%= f.label :service_id, "Service:", class: 'control-label col-sm-3'%>
      <div class="input-box">
        <%= f.select :service_id, options_from_collection_for_select(@services, :id, :main_title), class: 'input-box col-sm-9' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        Total amount:
      </div>
      <div class="input-box col-sm-9" id="total_amount">
      </div>
    </div>

    <% if @user.is_teen? %>
        <%= f.hidden_field :status , :value=> :teen_approved %>
    <% else %>
        <%= f.hidden_field :status , :value=> :not_approved %>
    <% end %>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <%= f.submit 'Send Transaction', :id => "submit_id", :value => nil, class: "btn btn-default btn-primary"%>
      </div>
    </div>

<% end %>

<script>
    function calculate_total(){
        var total;
        var input1 = $( "#charge_per_hour" ).val();
        var input2 = $( "#number_of_hours" ).val();
        $( "#total_amount" ).text( '$' + (input1 * input2) );
    }
    window.onload = calculate_total();
    $( "#charge_per_hour, #number_of_hours" ).on("change", calculate_total);
    function update_title(){
        var input1 = $("#transaction_service_id").find(":selected").text()
        $( "#service_title" ).val( input1 );
    }
    $( "#transaction_service_id").on("change", update_title());
</script>