<div class='back-button'>
<button class='btn btn-default', onclick="goBack()">
  <i class="glyphicon glyphicon-arrow-left"></i>
  <div class="hidden-xs">Back</div>
</button>
</div>
<div class="card-container">
  <div class="card transaction-card">
    <div class="card-body">
      <h2>Transaction Details</h2>
      <%= image_tag("#{@transaction.service.get_image_id}"+"service.svg", width: "32", height:"32", class: "service-image") %>
      <h4 class="card-title"><%= @transaction.service_title %></h4>
      <p class="card-text">Total time: <%= @transaction.number_of_hours %> hour(s)</p>
      <p class="card-text">Cost per hours: <%= @transaction.charge_per_hour %>/hour</p>
      <p class="card-text">Total amount: <%= number_to_currency(@transaction.total_amount) %></p>

      <% if current_user.is_teen? %>
          <p class="card-text">Date: <%= @transaction.service.date.to_date %></p>
          <p class="card-text">Client:
          <%= link_to user_path(@transaction.client_id) do %>
              <%=@transaction.client.try(:full_name) %>
          <% end %>
        </p>
      <% else %>
          <p class="card-text">Total charge: <%= number_to_currency((@transaction.total_amount * 1.14).round(2)) %></p>
          <p class="card-text">Date: <%= @transaction.service.date.to_date %></p>
          <p class="card-text">Teen:
            <%= link_to user_path(@transaction.teen_id) do %>
                <%=@transaction.teen.try(:full_name) %>
            <% end %>
          </p>
      <% end %>
      <% if @user.id == @transaction.teen_id && @transaction.status!= 'completed'%>
          <%= link_to "Edit Transaction", edit_user_transaction_path(@user.id, @transaction.id), :class => 'btn btn-default'  %>
      <% else %>
          <% if @transaction.status != 'client_approved' && @transaction.status!= 'completed' %>
            <%= form_for :transaction, :url => user_transaction_path(@user.id, @transaction.id), method: :put  do |f| %>
                <%= f.hidden_field :status , :value=> :client_approved %>
                <%= f.submit 'Approve Transaction', :class => 'btn btn-success' %>
             <% end %>
          <% end %>
          <% if  @transaction.status != 'client_approved' && @transaction.status!= 'completed'%>
              <%= link_to "Edit Transaction", edit_user_transaction_path(@user.id, @transaction.id), :class => 'btn btn-danger'  %>
          <% end %>
    <% end %>
    </div>
  </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>