<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Profile</title>

</head>

<body>
<%= form_for :review, :url => user_reviews_path(@user.id) do |f| %>
  <div class="form-group">
    <%= f.hidden_field :user_id , :value=> @user.id %>
    <%= f.hidden_field :author_id , :value=> current_user.id %>
    <%= f.hidden_field :rating , :value=> 0 %>
    <label class="control-label col-sm-2" for="review"><h4>Rating:</h4></label>
    <div class="stars">
      <%= f.radio_button(:rating, 1, class: 'star-1') %>
      <%= f.label :rating_1, nil, class: 'star-1'%>
      <%= f.radio_button(:rating, 2, class: 'star-2') %>
      <%= f.label :rating_2, nil, class: 'star-2'%>
      <%= f.radio_button(:rating, 3, class: 'star-3') %>
      <%= f.label :rating_3, nil, class: 'star-3'%>
      <%= f.radio_button(:rating, 4, class: 'star-4') %>
      <%= f.label :rating_4, nil, class: 'star-4'%>
      <%= f.radio_button(:rating, 5, class: 'star-5') %>
      <%= f.label :rating_5, nil, class: 'star-5'%>
      <span></span>
    </div>
  </div>
    <label class="control-label col-sm-2" for="skill_id"><h4>Skill to review:</h4></label>
    <div class="skillsReview">
      <%= f.select :skill_id, options_from_collection_for_select(Skill.find_by_sql("SELECT * FROM (SELECT id, skill_name  FROM skills) a ORDER BY a.id"), :id, :skill_name), :include_blank => true %>
    </div>
    <div>
      <%= f.text_area :body, class: 'form-control', placeholder: 'Write a review', rows: "5" ,cols:"50" %>
    </div>
    <%= f.submit 'Add', :id => "submit_id", :value => nil ,:class=>"btn btn-default"%>
<% end %>

</body>

</html>