<div class="container payouts" style="margin-top: 2%; background-color: white; border-radius: 15px; padding-top: 5em; padding-left:10%; padding-right: 10%">
  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <h4> <%= t :payoutHistory%></h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <p> <%= t :payoutHistoryDesc%> </p>
    </div>
  </div>
  <hr>

  <div class="row">

  </div>

    <% if !@user_payouts.blank?%>
      <% @user_payouts.each do |p| %>
          <div class="col-md-6" style="padding-bottom: 3%">
          <table style="width:100%;" >
            <tr>
              <th><%=t :method%></th>
              <th>ID</th>
              <th><%=t :amount%> (CAD)</th>
              <th>Date</th>
            </tr>
            <tr>
              <td><%=p.method.upcase()%></td>
              <td><%=p.id%></td>
              <td>$<%=p.amount%></td>
              <td><%=p.created_at.strftime("%B %d, %Y")%></td>
            </tr>
          </table>
        </div>
        <hr>
      <%end%>
    <%else%>
      <div class="col-md-12" style="text-align: center">
        <p><%= t :noPayouts%></p>
      </div>

    <%end%>
</div>