<!DOCTYPE html>
<html>
  <head>
    <title>TeenServ</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//maps.google.com/maps/api/js?key=<%=Rails.application.secrets.GOOGLE_KEY%>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script> 
    
    <link href="https://fonts.googleapis.com/css?family=Rajdhani|Roboto:300" rel="stylesheet">
    <meta name="turbolinks-cache-control" content="no-preview">
  </head>

  <body>

    <nav class="navbar navbar-default mynav">
      <div class="container-fluid">

        <!-- Logo -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "TeenServ", "/", :class=> "navbar-brand" %>
        </div>

        <!-- Menu Items -->
        <div class="collapse navbar-collapse" id = "navbar-collapse">
	        <ul class = "nav navbar-nav">
		        <form action="/search/search" method="get" class="form-inline my-2 my-lg-0">
			        <input class="form-control mr-sm-2" name="search_term" type="Search" placeholder="<%= t :search %>" aria-label="Search">
              <%= button_tag type: 'submit', class: "btn btn-outline-success my-2 my-sm-0", id: "register-button" do %>
                  <i class="fa fa-search" aria-hidden="true"></i>
              <% end %>
		        </form>
          </ul>

          <ul class = "nav navbar-nav">
            <p class="languages">
              <%= link_to_unless I18n.locale == :en, "English", set_language_english_path %>
              |
              <%= link_to_unless I18n.locale == :fr, "Français", set_language_french_path %>
            </p>
          </ul>
          <% if current_user != true_user %>
              <ul class = "nav navbar-nav loginAs">
                <%= t :youAreSignedInAs %> <%= current_user.first_name %> <%= current_user.last_name %>
                <%= link_to t('backToYourUser'), stop_impersonating_users_path, method: :post, class: 'btn btn-default userBack' %>
              </ul>
          <% end %>
          <!-- Items to the right side of the navbar -->
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <% if !@user.blank? && @user.is_client?%>
                <li class="dropdown">
                  <%= link_to("#", :class=>"dropdown-toggle", "data-toggle" =>"dropdown", :role => "button", "aria-expanded" => "false") do %> <i class="fa fa-cogs hidden-xs"></i> Services <span class="caret"></span>
                  <% end %>
                  <ul class="dropdown-menu">
                        <li><%= link_to t('createNewService'), new_service_path%></li>
                        <li><%= link_to t('viewServicePosting'), services_path%></li>
                  </ul>
                </li>
                <%else%>
                <li>
                  <%= link_to t('viewServices'), services_path , :class => "dropdown-toggle viewServices"%>
                </li>
                <%end%>
                <li>
                    <li id = "<%= @current_user.id %>" class="dropdown dropdown-notifications" data-behavior="notifications">
                      <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown" data-behavior="notifications-link">
                        <p class="visible-xs">Notifications</p>
                        <i data-behavior="unread-count" id = "data-notif" data-count="" class="glyphicon glyphicon-bell notification-icon hidden-xs"></i>
                      </a>
                      <div class="dropdown-container dropdown-position-bottomright">
                        <div class="dropdown-toolbar">
                          <h3 id = "notif-title" class="dropdown-toolbar-title"><%= t :notifications %></h3>
                        </div><!-- /dropdown-toolbar -->

                        <ul class="dropdown-menu" data-behavior="notification-items">
                          <li class="notification">
                            <div class="media">
                              <div class="media-left">
                                <div class="media-object">
                                  <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="Name" />
                                </div>
                              </div>
                              <div class="media-body">
                              </div>
                            </div>
                          </li>
                        </ul>

                        <div class="dropdown-footer text-center">
                          <a><%= link_to "View All", notifications_path(current_user)%></a>
                        </div><!-- /dropdown-footer -->

                      </div><!-- /dropdown-container -->
                    </li><!-- /dropdown -->
              </li>
		          <li id = "<%= @current_user.id %>" data-behavior="conversations" class="dropdown">
                <a id = "conversations-link" count = "<%= @unread_conversations_count %>" class="dropdown-toggle" aria-expanded="false" href="/conversations" ><i id = "convo-notification-count" class="glyphicon glyphicon-inbox  conversation-icon hidden-xs" data-count="" data-behavior="conversations-link"></i>
                  <p class="visible-xs">Conversations</p>
                </a>
		          </li>
              <li class="dropdown">
                <%= link_to("#", :class=>"dropdown-toggle", "data-toggle" =>"dropdown", :role => "button", "aria-expanded" => "false") do %> <i class="glyphicon glyphicon-user hidden-xs"></i>
                    <p class="visible-xs">My Account</p> <span class="caret"></span>
                  <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to t('viewProfile'), user_path(current_user)%></li>
                  <% if current_user.is_teen? %>
                    <li><%= link_to I18n.t(:skills), edit_user_skill_path(current_user)  %></li>
                    <li><%= link_to I18n.t(:availability), edit_teen_time_path(current_user) %></li>
                  <% end %>
                  <% if current_user.is_sadmin? %>
                    <li><%= link_to t('addUser'), new_user_path%></li>
                    <li><%= link_to t('sqlInterface'), sql_interface_users_path%></li>
                  <% end %>
                  <% if current_user.is_admin? %>
                    <li><%= link_to t('loginAs'), login_as_users_path%></li>
                  <% end %>
                  <li><%= link_to t('logout'), destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <% else %>
                <li><%= link_to t('signUp'), new_user_registration_path, :class=>"sign-up" %></li>
                <li><%= link_to t('signIn'), new_user_session_path, :class=>"sign-in" %></li>
              <% end %>
          </ul>

        </div> <!-- Menu Items -->

      </div>
    </nav>



    <main>
      <% if notice %>
          <p  id="notice" class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
          <p id="alert" class="alert alert-danger"><%= alert %></p>
      <% end %>

      <div id="section">
        <%= yield %>
      </div>
    </main>

    <footer id="myFooter">
      <div class="container-footer">
          <div class="row">
              <div class="col-sm-4 myCols">
                  <h5><%= t :getStarted %></h5>
                  <ul>
                      <li><%= link_to t('home'), "/"%></li>
                      <% if !user_signed_in? %>
                        <li><%= link_to t('signUp'), new_user_registration_path %></li>
                      <% end %>
                      <li><%= link_to t('howItWorks'), how_it_works_path %></li>
                  </ul>
              </div>
              <div class="col-sm-4 myCols">
                  <h5><%= t :company %></h5>
                  <ul>
                      <li><%= link_to t('aboutUs'), about_path %></li>
                      <li><%= link_to t('contactUs'), contact_us_path %></li>
                      <li><%= link_to t('faq'), faq_path %></li>
                  </ul>
              </div>
              <div class="col-sm-4 myCols">
                  <h5>Legal</h5>
                  <ul>
                      <li><%= link_to t('tos'), terms_of_service_path %></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="social-networks">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
          <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
      </div>
    </footer>
    <script>
        function markMessageAsRead(){

        }
    </script>

    <script>
        //this function will get number of unread messages and add a # to the messages icon:after
        function getUnreadMessages(){
            setInterval(function() {
                var convo = document.getElementById("conversations-link");
                var convo_count = convo.getAttribute("count");
                //console.log("this is old convo val: " + convo_count)
                //convo_count = "<%= @unread_conversations_count%>"
                var icon = document.getElementById("convo-notification-count");
                //console.log("parse it: " + parseInt(convo_count))
                if(parseInt(convo_count) > 0){
                    //$('head').append('<style>.conversation-icon:after {background: gold;}</style>');
                    icon.setAttribute("data-count", convo_count);
                    $('head').append('<style>.conversation-icon:after {background: gold;}</style>');
                }
                else{
                    $('head').append('<style>.conversation-icon:after {background: none;}</style>');
                    icon.setAttribute("data-count", "");
                }
            }, 2500);

        }
        getUnreadMessages()
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout(function(){
                $('#flash').fadeOut();
                $('#notice').fadeOut();
            }, 2000);
        })
    </script>
  </body>
  </html>
