<!DOCTYPE html>
<html>
  <head>
    <title>TeenServ</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= link_to "TeenServ", "/" %>

    <% if user_signed_in? %>
      <!-- <div class = "container"> -->
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <%= link_to "View Profile", user_path(current_user)%>
        <%= link_to("Edit Profile", edit_user_registration_path) %>
        <%= link_to "Create New Job", new_service_path%>
        <%= link_to "View Job Postings", services_path%>
      <!-- </div> -->
    <% else %>
      <!-- <div class = "container"> -->
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Sign In", new_user_session_path %>
      <!-- </div> -->
    <% end %>

    <%= yield %>
  </body>
</html>
